
/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/



/*-----------------------------
    Form
-------------------------------*/

.column {
    margin-top: 100px;
    max-width: 450px;
}

p { 
    padding: 0 8px !important;
    margin-top: 100px;
}

.ui.header{
    margin-bottom:50px;
    padding: 0 8px !important;
}

.minimal.field label{
    padding:0 8px !important;
    text-transform: uppercase!important;
    font-weight: 600 !important;
    font-size: 0.929em !important;
    color: #B0B0B0 !important;
    margin-bottom: 0px !important;
    
}

.minimal.field .ui.input input{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding:.78571429em 8px !important;
    letter-spacing: 0px;
}

.ui.minimal.input input:focus{
    border-radius: 0;
}

.ui.segment{
    border: none;
    margin: 0;
    padding: 0;
}

.forgot-pass{
  position:absolute;
  top:0px;
  right:0px;
  margin:0;
  height:100%;
  padding:6px 8px;
  
  &:hover {
    color:red;
  }
}
.show {
  display:block;
}


.ui.minimal.button{
    border-radius: 24px;
    padding:14px 20px;
    margin-left: 10px !important;
}

.minimal.fields{
    margin-top: 30px !important;
}

.minimal.fields > .field > .ui.checkbox{
    padding: 0 8px !important;
}

.minimal.fields > .field > .ui.checkbox label{
    padding-left: 1.8em;
}

.minimal.fields > .field > .ui.checkbox label:before,
.minimal.fields > .field > .ui.checkbox label:after
{
    top: -1px;
    left: -2px;
        font-size: 22px;
    font-weight: 400;
    width: 22px;
    height: 22px;
}

.minimal.fields > .field:first-child{
    width:75%;
}

.minimal.fields > .field:last-child{
    float:right;
    width:25%;
}

@media only screen and (max-width: 767px){
    .ui.container {
        width: auto!important;
        margin-left: 2em!important;
        margin-right: 2em!important;
    }
}

@media only screen and (max-width: 454px){
    .minimal.fields > .field{
        padding: 0 !important;
        margin: 0 !important;
    }
    .minimal.fields > .field:first-child{
        width:100%;
        margin-bottom: 20px !important;
    }

    .minimal.fields > .field:last-child{
        float:right;
        width:96%;
       
    }
    .minimal.fields > .field:last-child > .button{
        width:100%;
        margin:0 8px !important;
    }
}

/* Icon: */
background: #008BD9;
/* Remember me: */
font-family: Poppins-Regular;
font-size: 14px;
color: #414141;
line-height: 22px;
/* BG: */
background: #008BD9;
border-radius: 100px;
/* 8:20:8:20: */
font-family: Poppins-Medium;
font-size: 14px;
color: #FFFFFF;
line-height: 19px;
/* Cancel: */
font-family: Raleway-Medium;
font-size: 14px;
color: #333333;
line-height: 19px;
/* Don’t have an accoun: */
font-family: Poppins-Regular;
font-size: 14px;
color: #414141;
line-height: 22px;
/* Create new account.: */
font-family: Poppins-Medium;
font-size: 14px;
color: #008BD9;
line-height: 22px;
/* Log in: */
font-family: Poppins-Medium;
font-size: 26px;
color: #333333;
line-height: 31px;