/***********************

    GENERAL SETUP

************************/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100italic,200,100,200italic,300italic,300,400italic,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500);

code {
    background-color: #E0E0E0;
    padding: 0.25em 0.3em;
}
.container {
    padding:3em 0em;
}
.container:first-child{
    padding: 0;
}

.ui.text.container{
    font-size: 14px;
}

  
.showExample > .showComponent > h1 {
    font-size: 2rem !important;
    margin-top: 3em;
    color: rgb(102, 179, 19);
}

.showExample > .showComponent > .container > h3{
    font-size: 1.28rem !important;
    margin-bottom: 2em;
}

.showExample > h1 + p{
    margin-top: 2em !important;
}

p + .grid{
    margin-top: 1em !important;
}


img {
  display: block;
  max-width: 100%;
}

/* Shows content box (not negative margins) */
.grid {
  position: relative;
}

.ui.divided.grid:before,
.celled.grid:before {
  display: none;
}
.ui.aligned .column:after {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .stackable.grid:before {
    width: 100%;
    left: 0em;
  }
}

/***********************

    NAVBAR

************************/

.navbar{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-top: 50px;
    /* background: #fff; */
    z-index: 99;
    margin-bottom: 50px;
}

.navbar > .logo{
    float: left;
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: default;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    
}

.navbar > .logo > img {
    width: 16px;
    margin:5px;
    display:inline-block;
}


.navbar > .leftMenu {
    padding-left: 60px;
    float: left;
    list-style: none;
    margin: 0 auto;
}

.navbar > .leftMenu > .item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar > .leftMenu > .item  {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 20px;
    text-decoration: none;
}

.navbar > .leftMenu > .item > .links{
    color: rgba(0,0,0,.75);
}
 
.navbar > .leftMenu > .item > .links:hover{
    color: rgba(0,0,0,1);
    border-bottom: 1px solid #000;
}

.navbar > .leftMenu > .active > .links,
.navbar > .leftMenu > .active > .links:hover
{
    color: rgba(0,0,0,.3);
    text-decoration: none !important;
    border-bottom:none;
    cursor: default;
}

/***********************

    FOOTER

************************/

.footer{
    display: block;
    margin-top: 5em;
    height: 70px;  
}

/***********************

    GENERAL SHOW PAGES

************************/

.showExample{
    margin: 0 auto;
}

.showExample > .showComponent{
    margin: 0 auto;
     text-align: center;
}

.showExample > .showComponent> .header{
    margin-left: auto!important;
    margin-right: auto!important;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2C83C5;
    font-size: 1.28rem;
}
.showExample > .showComponent> img.wave{
    width: 100%;
}

.showExample > .showComponent{
    margin: 0 auto;
    text-align: center;
}

.container.first {
    padding-top: 0 !important;
}

.showExample > .showComponent > .container {
    padding: 3em 0em 5em;
}

.showExample > .showComponent > .first{
    padding-bottom: 1em !important;
}

.showExample > .showComponent .ui.text.container > p{
    margin: 0 auto;
    width:500px;
    margin-bottom: 1em
}

@media only screen and (max-width: 1200px) {
    .leftMenu{
        display: none;
    }
    .container.first {
        padding-top: 2em !important;
    }
}

@media only screen and (max-width: 560px) {
    .showExample > .showComponent p{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 1em
    }
}


/***********************

    GRID

************************/



.showGrid .grid:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
 background-color: #F0F0F0;
  content: '';
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
/*  box-shadow: 0px 0px 0px 1px #DDDDDD inset;*/
}

.showGrid .grid .column:not(.row):not(.grid):after {
  background-color: #ffc266;
  box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
  content: "";
  display: block;
  min-height: 50px;
}


/***********************

    COLOR

************************/

.showColor .colorItem{
    
}
.showColor .colorItem > .colorName{
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
.showColor .colorItem > .colorBox {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

.showColor .colorItem > .colorCode {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

.colorInfo { background-color: #2BADD4; }
.colorInfoH { background-color: #40b5d8; }
.colorInfoA { background-color: #279cbf; }

.colorS { background-color: #19b37b; }
.colorSH { background-color: #1cc98a; }
.colorSA { background-color: #169d6c; }

.colorW { background-color:#E5791A; }
.colorWH { background-color:#E88631; }
.colorWA { background-color:#CE6D17; }

.colorE { background-color:#E64333; }
.colorEH { background-color:#E95849; }
.colorEA { background-color:#E32E1C; }

.colorP { background-color:#E6DB19; }
.colorPH { background-color:#EBE247; }
.colorPA { background-color:#CFC517; }

/***********************

    COLOR

************************/

.showFont .identifier {
    font-size: 11px;
    color: #777;
    display: block;
}

.showFont .styles{
    margin-top: 3em;
}

.showFont .fontitem{
    margin-bottom: 20px;
}

.showFont .Poppins-normal-300 {
    font-style: normal;
    font-weight: 300;
}

.showFont .Poppins-normal-400 {
    font-style: normal;
    font-weight: 400;
}

.showFont .Poppins-normal-500 {
    font-style: normal;
    font-weight: 500;
}

.showFont .Poppins-normal-600 {
    font-style: normal;
    font-weight: 600;
}

.showFont .Poppins-normal-700 {
    font-style: normal;
    font-weight: 700;
}

.showFont .headingOne{
    font-size: 42px;
    font-weight: 700;
}

.showFont .headingOneVariation{
    font-size: 42px;
    font-weight: 300;
}

.showFont .headingTwo{
    font-size: 38px;
    font-weight: 700;
}

.showFont .headingTwoVariation{
    font-size: 38px;
    font-weight: 300;
}

.showFont .headingThree{
    font-size: 32px;
    font-weight: 700;
}

.showFont .headingFour{
    font-size: 28px;
    font-weight: 700;
}

.showFont .headingFive{
    font-size: 22px;
    font-weight: 600;
}
.showFont .headingSix{
    font-size: 15px;
    font-weight: 600;
}
.showFont .headingSixUppercase{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/***********************

    ICONS

************************/

.iconList{
    
}

.iconList i.icon{
    display: block;
    margin: 0;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.iconList span{
    font-size: 12px;
    line-height: 11px;
   
}

/***********************

    TOOLTIP

************************/

.showTooltip{
    text-align: left;
}


/***********************

    LABEL

************************/


.showLabel .ui.label + .label{
    margin-left: 10px;
    margin-top: 10px;
}



/***********************

    AUTHENTICAION

************************/

.signIn{
    width: 500px !important;
    border: 1px solid #ccc;
    padding: 50px !important; 
}


p.more.info{
    text-align: center
}

