
/*======= Reset =======*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/

title:first-letter {
    text-transform:capitalize;
}



#wrapper .column {
   width: 30em;
   margin: 0 auto;
}




/*-----------------------------
    Header 
-------------------------------*/
.first{
    margin-top: 60px;   
}

img{
    width: 115px;
}


/*-----------------------------
     Heading
-------------------------------*/

.second{
    margin-top: 40px;   
}

/*-----------------------------
     Form
-------------------------------*/

.third{
    margin-bottom: 100px;   
}



/*-----------------------------
    Label 
-------------------------------*/
/*
.ui.form .field>label {
    display: block;
    margin: 0 0 0.5rem;
    color: #777;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
   
}

*/


/*-----------------------------
    Instruction
-------------------------------*/
.instruction{
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
}

.instruction a{
    font-weight: 300;
    
}

.instruction a:hover{
    opacity: 1;
    
}

.forgot{
    float: right;
    text-transform: none!important;
    font-size: 13px;
    color: #999 !important;
    margin-top: -2px;
}

.forgot a{
    color: #555 !important;
    font-weight: 400;
    opacity: 0.5;
    letter-spacing: 0  !important;
  
}

.forgot a:hover{
    opacity: 1;
}


/*-----------------------------
    Modal
-------------------------------*/

/* Tiny Modal Width */

@media only screen and (max-width: 767px) {
  .ui.login.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}

@media only screen and (min-width: 768px) {
  .ui.login.modal {
    width: 520px;
    margin: 0em 0em 0em -260px;
  }
}


.ui.login.modal>.header{
    padding: 40px 40px 40px 40px !important;
    border-bottom: 0;
    font-size: 30px;
}

.ui.login.modal>.content{
    padding: 0 40px 70px 40px !important;
}


.ui.login.modal>.actions{
    padding: 20px 40px !important;
}










