<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, semantic">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Dropdown Plugin Options - Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../dist/semantic.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/hoiio.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body id="plugin-dropdown">
    <div class="hoiio loading"></div>
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="first column"></div>
            <div class="second column">
                <div class="ui grid">
                    <div class="column" id="page-name">
                        <div class="category">Plugin Options</div>
                        <h1 class="name">Dropdown</h1>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="column" id="content">
                        
                        <!-- Options --> 
                        <div id="options">
                            <h2>Options</h2>
                            <!-- Methods -->
                            <div class="block">
                                <h3 id="methods" class="title">Methods</h3>
                                <p class="description">Here are some useful methods that can be used with dropdown().</p>
                                <div class="display">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th>Method</th>
                                                    <th>Description</th>
                                                    <th>Example</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Options</td>
                                                    <td>Activates value of a dropdown.</td>
                                                    <td><pre><code>.<span class="pln" style="color:#4d4d4c !important">dropdown</span><span class="pun">({</span><span class="pln">
    useLabels</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">false</span><span class="pln">
</span><span class="pun">})</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Set text</td>
                                                    <td>Sets dropdown text to a value.</td>
                                                    <td><pre><code>.<span class="pln">dropdown</span><span class="pun">(</span><span class="str">'set text','text'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Refresh</td>
                                                    <td>Refreshes all cached data.</td>
                                                    <td><pre><code><span class="pln">.dropdown</span><span class="pun">(</span><span class="str">'refresh'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Toggle</td>
                                                    <td>Manually toggles a dropdown.</td>
                                                    <td><pre><code><span class="pln">.dropdown</span><span class="pun">(</span><span class="str">'toggle'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Show</td>
                                                    <td>Manually opens a dropdown.</td>
                                                    <td><pre><code><span class="pln">.dropdown</span><span class="pun">(</span><span class="str">'show'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Hide</td>
                                                    <td>Manually hides a dropdown.</td>
                                                    <td><pre><code><span class="pln">.dropdown</span><span class="pun">(</span><span class="str">'hide'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Clear</td>
                                                    <td>Clears dropdown of selection.</td>
                                                    <td><pre><code><span class="pln">.dropdown</span><span class="pun">(</span><span class="str">'clear'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Clearing Dropdown -->
                            <div class="block">
                                <h3 class="non counter">Example</h3>
                                <p class="description">Use <code>clear</code> to reset a form field to its placeholder value.</p>
                                <div class="display">
<div class="ui multiple selection dropdown" id="clearing">
  <input name="gender" type="hidden" value="0,1">
  <i class="dropdown icon"></i>
  <div class="default text">Default</div>
  <div class="menu">
      <div class="item" data-value="0">Value</div>
      <div class="item" data-value="1">Another Value</div>
  </div>
 </div>
                                    <br><br>
<div class="ui selection dropdown" id="clearing">
  <input name="gender" type="hidden">
  <div class="default text">Select a value</div>
  <i class="dropdown icon"></i>
  <div class="menu">
      <div class="item" data-value="0">Value</div>
      <div class="item" data-value="1">Another Value</div>
  </div>
 </div>
                                    <br><br>
<div class="ui clear primary button">
  Clear
</div>

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
('.clear.button')
  .on('click', function() {
    $('.clear.dropdown')
      .dropdown('clear')
    ;
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>

                            </div>
                            

                            <!-- Options -->
                            <div class="block">
                                <h3 id="option" class="title">Options</h3>
                                <p class="description">There are certain options which can be passed via JavaScript to customize the look and feel of the Dropdown Window. Following table lists the options.</p>
                                <div class="display options">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Option</th>
                                                    <th>Name</th>
                                                    <th>Default Value</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><b>Text Labels</b></td>
                                                    <td>useLabels</td>
                                                    <td>false</td>
                                                    <td>Whether multiselect should use labels. Must be set to true when allowAdditions is true.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><b>Maximum Selections</b></td>
                                                    <td>maxSelections</td>
                                                    <td>false</td>
                                                    <td>When set to a number, sets the maximum number of selections.</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><b>User Additions</b></td>
                                                    <td>allowAdditions</td>
                                                    <td>false</td>
                                                    <td>Whether search selection should allow users to add their own selections, works for single or multiselect.</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td><b>Text Replacement</b></td>
                                                    <td>action</td>
                                                    <td>combo</td>
                                                    <td>Changes text of previous sibling element.</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td><b>Direction of Menu</b></td>
                                                    <td>direction</td>
                                                    <td>'auto'</td>
                                                    <td>When set to auto determines direction based on whether dropdown can fit on screen. Set to <code>upward</code> or <code>downward</code> to always force a direction.</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>6</td>
                                                    <td><b>Transitions</b></td>
                                                    <td>transition</td>
                                                    <td>auto (slide)</td>
                                                    <td>Named transition to use when animating menu in and out. Defaults to slide down or slide up depending on dropdown direction. Fade and slide down are available without including ui transitions.</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>7</td>
                                                    <td><b>Duration</b></td>
                                                    <td>duration</td>
                                                    <td>200</td>
                                                    <td>Duration of animation events.</td>
                                                </tr>
                                                
                                                
                                                
                                                
                                                


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Options Examples --> 
                        <div id="examples">
                            <h2>Options Examples</h2>

                            <!-- Text Labels -->
                            <div class="block">
                                <h3 id="text-label" class="title">Text Labels</h3>
                                <p class="description">Sometimes multiselect include options which are long and would appear awkwardly as labels. Change value of <code>useLabels</code> to false to show short labels.</p>
                                <div class="display">

<div class="ui multiple selection dropdown" id="uselabels">
  <input type="hidden" name="position">
  <i class="dropdown icon"></i>
  <div class="default text">Select Position</div>
  <div class="menu">
    <div class="item" data-value="engineer">Engineer</div>
    <div class="item" data-value="design">Design</div>
    <div class="item" data-value="devops">Devops</div>
    <div class="item" data-value="business">Business Development</div>
    <div class="item" data-value="hr">Human Resource</div>
  </div>
</div>

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.text.labels')
  .dropdown({
    useLabels: false
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>
                            <!-- Maximum Selections -->
                            <div class="block">
                                <h3 id="maximum-selection" class="title">Maximum Selections</h3>
                                <p class="description">Using maxSelections lets you force a maximum number of selections. You can also use form validation rules to specify minimum and maximum validation settings for multi-selects inside forms.</p>
                                <div class="display">
<div class="ui sub header">Max Selections</div>
<div class="ui multiple selection dropdown" id="maxselections">
  <input type="hidden" name="position">
  <i class="dropdown icon"></i>
  <div class="default text">Select Position</div>
  <div class="menu">
    <div class="item" data-value="engineer">Engineer</div>
    <div class="item" data-value="design">Design</div>
    <div class="item" data-value="devops">Devops</div>
    <div class="item" data-value="business">Business Development</div>
    <div class="item" data-value="hr">Human Resource</div>
  </div>
</div>

<div class="ui sub header">Text Labels</div>
<div class="ui multiple selection dropdown" id="labels">
  <input type="hidden" name="position">
  <i class="dropdown icon"></i>
  <div class="default text">Select Position</div>
  <div class="menu">
    <div class="item" data-value="engineer">Engineer</div>
    <div class="item" data-value="design">Design</div>
    <div class="item" data-value="devops">Devops</div>
    <div class="item" data-value="business">Business Development</div>
    <div class="item" data-value="hr">Human Resource</div>
  </div>
</div>                                    
                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.max.selection')
  .dropdown({
    maxSelections: 3
  })
;

$('.text.label')
  .dropdown({
    useLabels: false,
    maxSelections: 3
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>
                            <!-- Tagging and User Additions -->
                            <div class="block">
                                <h3 id="additions" class="title">Tagging and User Additions</h3> <p class="description">Using allowAdditions: true gives users the ability to add their own options. This can work with either single or multiple search select dropdowns.</p>
                                <div class="display">

<div class="ui multiple search selection dropdown" id="allowadditions">
  <input type="hidden" name="position">
  <i class="dropdown icon"></i>
  <div class="default text">Select Position</div>
  <div class="menu">
    <div class="item" data-value="engineer">Engineer</div>
    <div class="item" data-value="design">Design</div>
    <div class="item" data-value="devops">Devops</div>
    <div class="item" data-value="business">Business Development</div>
    <div class="item" data-value="hr">Human Resource</div>
  </div>
</div>

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.allow.addition')
  .dropdown({
    allowAdditions: true
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>

                            </div>
                            
                            
                            <!-- Combo Dropdowns -->
                            <div class="block">
                                <h3 id="combo" class="title">Combo Dropdowns</h3> 
                                <p class="description">A button can be formatted with a dropdown. Using the combo action will change the preceding element to the selected value.</p>
                                <div class="display">
<div class="ui primary buttons">
  <div class="ui button">Save</div>
  <div class="ui top right pointing dropdown icon button" id="combo-dropdown">
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item"><i class="edit icon"></i> Edit</div>
      <div class="item"><i class="trash icon"></i> Delete</div>
      <div class="item"><i class="hide icon"></i> Hide</div>
    </div>
  </div>
</div> 

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.combo.dropdown')
  .dropdown({
    action: 'combo'
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>

                            </div>
                            
                            <!-- Upward Direction -->
                            <div class="block">
                                <h3 id="upward" class="title">Upward Direction</h3> 
                                <p class="description">A dropdown menu will automatically change which direction it opens if it cant fit on screen.</p>
                                <div class="display">
<div class="ui primary buttons">
  <div class="ui button">Save</div>
  <div class="ui top right pointing dropdown icon button" id="upward-dropdown">
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item"><i class="edit icon"></i> Edit</div>
      <div class="item"><i class="trash icon"></i> Delete</div>
      <div class="item"><i class="hide icon"></i> Hide</div>
    </div>
  </div>
</div> 

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.upward.dropdown')
  .dropdown({
    direction: 'upward'
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>

                            </div>
                            
                            
                            
                            <!-- Changing Transitions -->
                            <div class="block">
                                <h3 id="transition-dropdown" class="title">Changing Transitions</h3> 
                                <p class="description">A dropdown can specify a different <a href="/design/plugin/transition">transition</a>.</p>
                                <div class="display">
                              
<div class="ui primary dropdown button" id="drop-transition" style="margin-right:10px">
  Drop <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">Choice 1</a>
    <a href="#" class="item">Choice 2</a>
    <a href="#" class="item">Choice 3</a>
    <a href="#" class="item">Choice 4</a>
  </div>
</div>     

<div class="ui info dropdown button" id="fade-up-transition" style="margin-right:10px">
  Fade Up <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">Choice 1</a>
    <a href="#" class="item">Choice 2</a>
    <a href="#" class="item">Choice 3</a>
    <a href="#" class="item">Choice 4</a>
  </div>
</div>

<div class="ui warning dropdown button" id="scale-transition" style="margin-right:10px">
  Scale <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">Choice 1</a>
    <a href="#" class="item">Choice 2</a>
    <a href="#" class="item">Choice 3</a>
    <a href="#" class="item">Choice 4</a>
  </div>
</div>  

<div class="ui error dropdown button" id="horizontal-flip-transition">
  Horizontal Flip <i class="dropdown icon"></i>
  <div class="menu">
    <a href="#" class="item">Choice 1</a>
    <a href="#" class="item">Choice 2</a>
    <a href="#" class="item">Choice 3</a>
    <a href="#" class="item">Choice 4</a>
  </div>
</div>                                      

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.allow.addition')
  .dropdown({
    transition: 'drop'
  })
;
&lt;/script&gt;
</code>
</pre>
                            </div>

                            </div>
                            
                        </div>

                        <!-- Events --> 
                        <div id="events">
                            <h2>Events</h2>
                            <!-- Methods -->
                            <div class="block">
                                <p class="description">Following table lists the events to work with dropdown. These events may be used to hook into the function.</p>
                                <div class="display events">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th>Event</th>
                                                    <th>Description</th>
                                                    <th>Example</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>onChange</td>
                                                    <td>Is called after a dropdown value changes. Receives the name and value of selection and the active menu element.</td>
                                                    <td>
    <pre><code><span class="str">onChange</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(value, text, $choice)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onAdd</td>
                                                    <td>Is called after a dropdown selection is added using a multiple select dropdown, only receives the added value.</td>
                                                    <td>
    <pre><code><span class="str">onChange</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(addedValue, addedText, $addedChoice)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onRemove</td>
                                                    <td>Is called after a dropdown selection is removed using a multiple select dropdown, only receives the removed value.</td>
                                                    <td>
    <pre><code><span class="str">onChange</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(removedValue, removedText, $removedChoice)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>onShow</td>
                                                    <td>Is called before a dropdown is shown. If <code>false</code> is returned, dropdown will not be shown.</td>
                                                    <td>
    <pre><code><span class="str">onShow</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onHide</td>
                                                    <td>Is called before a dropdown is hidden. If <code>false</code> is returned, dropdown will not be hidden.</td>
                                                    <td>
    <pre><code><span class="str">onHide</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>onNoResults</td>
                                                    <td>Is called after a dropdown is searched with no matching values.</td>
                                                    <td>
    <pre><code><span class="str">onNoResults</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(searchValue)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onLabelCreate</td>
                                                    <td>Allows you to modify a label before it is added. Expects <code>$label</code> to be returned.</td>
                                                    <td>
    <pre><code><span class="str">onLabelCreate</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">($label)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onLabelRemove</td>
                                                    <td>Called when a label is remove, <code>return false;</code> will prevent the label from being removed.</td>
                                                    <td>
    <pre><code><span class="str">onLabelRemove</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">(value)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onLabelSelect</td>
                                                    <td>Is called after a label is selected by a user.</td>
                                                    <td>
    <pre><code><span class="str">onLabelSelect</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">($selectedLabels)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <div class="column" id="table-content">
                        <div id="sticky-anchor"></div>
                        <div id="sticky">
                        <ul class="category">    
                            
                            <li class="title">Plugin Options</li> 
                            <li class="item"><a href="#methods">Methods</a></li>
                            <li class="item"><a href="#option">Options</a></li>
                            <li class="title">Examples</li> 
                            <li class="item"><a href="#text-label">Text Labels</a></li>
                            <li class="item"><a href="#maximum-selection">Maximum Selections</a></li>
                            <li class="item"><a href="#additions">Tagging and User Additions</a></li>
                            
                            <li class="item"><a href="#combo">Combo Dropdowns</a></li>
                            <li class="item"><a href="#upward">Upward Direction</a></li>
                            <li class="item"><a href="#transition-dropdown">Changing Transitions</a></li>
                            
                            <li class="title">Plugin Events</li> 
                            <li class="item"><a href="#events">Events</a></li>
                        </ul>
                    </div>
                
                </div>
            
                </div>
                <div class="ui grid">
                    <div class="column" id="footer">
                        <div class="inner">
                            <p>© Copyright 2016. Hoiio Pte Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        
     
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../dist/semantic.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/content.js"></script>
    <script src="../source/js/hoiio.js"></script>
    <script src="../source/js/tablesort.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    

</body>
</html>