<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, semantic">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Form - Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../dist/semantic.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/hoiio.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body id="component-form">
    <div class="hoiio loading"></div>
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="first column"></div>
            <div class="second column">
                <div class="ui grid">
                    <div class="column" id="page-name">
                        <div class="category">Component</div>
                        <h1 class="name">Form</h1>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="column" id="content">
                    <!-- Standard -->
                    <div id="definition">
                        <div class="block">
                            <p class="description">A form displays a set of related user input fields in a structured way.</p>
                            
                            <div class="display">
<form class="ui form nonlabel">
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first-name" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" id="checks" class="hidden">
      <label for="checks">I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui primary button" type="submit">Submit</button>
</form>          
                            </div>
                            <p class="usage"><span>Usage</span> :
                                add classes <code>.ui, .form</code> to the <code>&lt;form&gt;</code> element.
                                
                            </p>
                            <div class="source">
<pre>
<code class="html hljs xml">
&lt;form class=&quot;ui form&quot;&gt;
  ...
&lt;/form&gt;   
</code>
</pre>
                    </div>
                        </div>
                    </div>
                    
                        <!-- Content -->
                        <div id="contents">
                        <h2>Contents</h2>

                        
                    <!-- A Field Content --> 
                    <div class="block">
                        <h3 id="field" class="title">A Field Inside</h3>
                        <p class="description">A field is a form element containing a label and an input.</p>
                        <div class="display">
<div class="ui form">
  <div class="field">
    <label>User Input</label>
    <input type="text">
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : 
                            <br>- Add a <code>&lt;div&gt;</code> with a class <code>.field</code> into the form.
                            <br>- Include a <code>label</code> and an <code>input</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;User Input&lt;/label&gt;
    &lt;input type=&quot;text&quot;&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                        
                        <!-- Inline field --> 
                        <h5 class="sub">Inline Field</h5>
                        <p class="description">A field can have its label next to instead of above it.</p>
                        <div class="display">
<div class="ui form">
  <div class="inline field">
    <label>Last name</label>
    <input type="text" placeholder="Full Name">
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.inline</code> before the class <code>.field</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;inline field&quot;&gt;
    &lt;label&gt;Last name&lt;/label&gt;
    &lt;input type=&quot;text&quot; placeholder="Full Name"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    
                        <!-- Required --> 
                        <h5 class="sub">Required</h5>
                        <p class="description">A field can show that input is mandatory.</p>
                        <div class="display">
<div class="ui form">
    <div class="required field">
      <label>Last name</label>
      <input type="text" placeholder="Full Name">
    </div>
    <div class="required inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.required</code> before the class <code>.field</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;required field&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                   
                    
                            
                    </div>
                    <!-- Fields Content --> 
                    <div class="block">
                        <h3 id="fields" class="title">Fields</h3>
                        <p class="description">A set of fields can appear grouped together horizontally.</p>
                        <div class="display">

<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : add many fields into a <code>.fields</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;fields&quot;&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                        <!-- Inline multi --> 
                        <h5 class="sub">Inline Fields</h5>
                        <p class="description">Multiple fields may be inline in a row.</p>
                        <div class="display">
<div class="ui form">
  <div class="inline fields">
    <label>Phone Number</label>
    <div class="field">
      <input type="text" placeholder="(xxx)">
    </div>
    <div class="field">
      <input type="text" placeholder="xxx">
    </div>
    <div class="field">
      <input type="text" placeholder="xxxx">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.inline</code> before the class <code>.fields</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;inline fields&quot;&gt;
    &lt;label&gt;Phone Number&lt;/label&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    
                    
                        <!-- Grid Columns --> 
                        <h5 class="sub">Width</h5>
                        <p class="description">Fields can specify their widths in <a href="/design/system/grid columns">Grid Columns</a></p>
                        <div class="display">
<div class="ui form">
  <div class="fields">
    <div class="six wide field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="four wide field">
      <label>Middle</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="six wide field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
  <div class="fields">
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
    <div class="twelve wide field">
      <input type="text" placeholder="12 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
  <div class="fields">
    <div class="eight wide field">
      <input type="text" placeholder="8 Wide">
    </div>
    <div class="six wide field">
      <input type="text" placeholder="6 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert classes of number and <code>.wide</code> before the class <code>.field</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;fields&quot;&gt;
    &lt;div class=&quot;six wide field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;four wide field&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;six wide field&quot;&gt;...&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    <!-- Text Area Content --> 
                    <div class="block">
                        <h3 id="text-area" class="title">Text Area Content</h3>
                        <p class="description">A textarea can be used to allow for extended user input.</p>
                        <div class="display">
<div class="ui form">
  <div class="field">
    <label>Text</label>
    <textarea></textarea>
  </div>
  <div class="field">
    <label>Short Text</label>
    <textarea rows="2"></textarea>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : add a <code>&lt;textarea&gt;</code> element after the <code>label</code>. To specify an approximate text area size use the <code>rows</code> attribute.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;Text&lt;/label&gt;
    &lt;textarea&gt;&lt;/textarea&gt;
  &lt;/div&gt;
  
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;Short Text&lt;/label&gt;
    &lt;textarea rows=&quot;2&quot;&gt;&lt;/textarea&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    <!-- Checkbox Content --> 
                    <div class="block">
                        <h3 id="components" class="title">Components</h3>
                        <p class="description">A form can contain a <a href="/design/component/checkbox">checkbox</a>, a <a href="/design/component/checkbox#radio">radio</a>, a <a href="/design/plugin/dropdown">selection</a>. </p>
                        <div class="display">
<div class="ui form">
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>Checkbox</label>
    </div>
  </div>
  <div class="inline field">
    <div class="ui slider checkbox">
      <input type="checkbox">
      <label>Slider</label>
    </div>
    <label></label>
  </div>
  <div class="inline field">
    <div class="ui toggle checkbox">
      <input type="checkbox">
      <label>Toggle</label>
    </div>
  </div>


  <div class="inline fields">
    
    <div class="field">
        <label for="fruit">Select your favorite fruit:</label>
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="">
        <label>Apples</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit">
        <label>Oranges</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" >
        <label>Pears</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit">
        <label>Grapefruit</label>
      </div>
    </div>
  </div>
    
<div class="ui form">
  <div class="field">
    <div class="ui multiple selection dropdown">
  <input type="hidden" name="country">
  <i class="dropdown icon"></i>
  <div class="default text">Select Country</div>
  <div class="menu">
  <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
  <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
  <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
  <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
  <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
  <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
  <div class="item" data-value="ao"><i class="ao flag"></i>Angola</div>
  <div class="item" data-value="ai"><i class="ai flag"></i>Anguilla</div>
  <div class="item" data-value="ag"><i class="ag flag"></i>Antigua</div>
  <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
  <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
  <div class="item" data-value="aw"><i class="aw flag"></i>Aruba</div>
  <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
  <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
  <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
  <div class="item" data-value="bs"><i class="bs flag"></i>Bahamas</div>
  <div class="item" data-value="bh"><i class="bh flag"></i>Bahrain</div>
  <div class="item" data-value="bd"><i class="bd flag"></i>Bangladesh</div>
  <div class="item" data-value="bb"><i class="bb flag"></i>Barbados</div>
  <div class="item" data-value="by"><i class="by flag"></i>Belarus</div>
  <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
  <div class="item" data-value="bz"><i class="bz flag"></i>Belize</div>
  <div class="item" data-value="bj"><i class="bj flag"></i>Benin</div>
  <div class="item" data-value="bm"><i class="bm flag"></i>Bermuda</div>
  <div class="item" data-value="bt"><i class="bt flag"></i>Bhutan</div>
  <div class="item" data-value="bo"><i class="bo flag"></i>Bolivia</div>
  <div class="item" data-value="ba"><i class="ba flag"></i>Bosnia</div>
  <div class="item" data-value="bw"><i class="bw flag"></i>Botswana</div>
  <div class="item" data-value="bv"><i class="bv flag"></i>Bouvet Island</div>
  <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
  <div class="item" data-value="vg"><i class="vg flag"></i>British Virgin Islands</div>
  <div class="item" data-value="bn"><i class="bn flag"></i>Brunei</div>
  <div class="item" data-value="bg"><i class="bg flag"></i>Bulgaria</div>
  <div class="item" data-value="bf"><i class="bf flag"></i>Burkina Faso</div>
  <div class="item" data-value="ar"><i class="ar flag"></i>Burma</div>
  <div class="item" data-value="bi"><i class="bi flag"></i>Burundi</div>
  <div class="item" data-value="tc"><i class="tc flag"></i>Caicos Islands</div>
  <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
  <div class="item" data-value="cm"><i class="cm flag"></i>Cameroon</div>
  <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
  <div class="item" data-value="cv"><i class="cv flag"></i>Cape Verde</div>
  <div class="item" data-value="ky"><i class="ky flag"></i>Cayman Islands</div>
  <div class="item" data-value="cf"><i class="cf flag"></i>Central African Republic</div>
  <div class="item" data-value="td"><i class="td flag"></i>Chad</div>
  <div class="item" data-value="cl"><i class="cl flag"></i>Chile</div>
  <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
  <div class="item" data-value="cx"><i class="cx flag"></i>Christmas Island</div>
  <div class="item" data-value="cc"><i class="cc flag"></i>Cocos Islands</div>
  <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
  <div class="item" data-value="km"><i class="km flag"></i>Comoros</div>
  <div class="item" data-value="cg"><i class="cg flag"></i>Congo Brazzaville</div>
  <div class="item" data-value="cd"><i class="cd flag"></i>Congo</div>
  <div class="item" data-value="ck"><i class="ck flag"></i>Cook Islands</div>
  <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
  <div class="item" data-value="ci"><i class="ci flag"></i>Cote Divoire</div>
  <div class="item" data-value="hr"><i class="hr flag"></i>Croatia</div>
  <div class="item" data-value="cu"><i class="cu flag"></i>Cuba</div>
  <div class="item" data-value="cy"><i class="cy flag"></i>Cyprus</div>
  <div class="item" data-value="cz"><i class="cz flag"></i>Czech Republic</div>
  <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
  <div class="item" data-value="dj"><i class="dj flag"></i>Djibouti</div>
  <div class="item" data-value="dm"><i class="dm flag"></i>Dominica</div>
  <div class="item" data-value="do"><i class="do flag"></i>Dominican Republic</div>
  <div class="item" data-value="ec"><i class="ec flag"></i>Ecuador</div>
  <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
  <div class="item" data-value="sv"><i class="sv flag"></i>El Salvador</div>
  <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
  <div class="item" data-value="gq"><i class="gq flag"></i>Equatorial Guinea</div>
  <div class="item" data-value="er"><i class="er flag"></i>Eritrea</div>
  <div class="item" data-value="ee"><i class="ee flag"></i>Estonia</div>
  <div class="item" data-value="et"><i class="et flag"></i>Ethiopia</div>
  <div class="item" data-value="eu"><i class="eu flag"></i>European Union</div>
  <div class="item" data-value="fk"><i class="fk flag"></i>Falkland Islands</div>
  <div class="item" data-value="fo"><i class="fo flag"></i>Faroe Islands</div>
  <div class="item" data-value="fj"><i class="fj flag"></i>Fiji</div>
  <div class="item" data-value="fi"><i class="fi flag"></i>Finland</div>
  <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
  <div class="item" data-value="gf"><i class="gf flag"></i>French Guiana</div>
  <div class="item" data-value="pf"><i class="pf flag"></i>French Polynesia</div>
  <div class="item" data-value="tf"><i class="tf flag"></i>French Territories</div>
  <div class="item" data-value="ga"><i class="ga flag"></i>Gabon</div>
  <div class="item" data-value="gm"><i class="gm flag"></i>Gambia</div>
  <div class="item" data-value="ge"><i class="ge flag"></i>Georgia</div>
  <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
  <div class="item" data-value="gh"><i class="gh flag"></i>Ghana</div>
  <div class="item" data-value="gi"><i class="gi flag"></i>Gibraltar</div>
  <div class="item" data-value="gr"><i class="gr flag"></i>Greece</div>
  <div class="item" data-value="gl"><i class="gl flag"></i>Greenland</div>
  <div class="item" data-value="gd"><i class="gd flag"></i>Grenada</div>
  <div class="item" data-value="gp"><i class="gp flag"></i>Guadeloupe</div>
  <div class="item" data-value="gu"><i class="gu flag"></i>Guam</div>
  <div class="item" data-value="gt"><i class="gt flag"></i>Guatemala</div>
  <div class="item" data-value="gw"><i class="gw flag"></i>Guinea-Bissau</div>
  <div class="item" data-value="gn"><i class="gn flag"></i>Guinea</div>
  <div class="item" data-value="gy"><i class="gy flag"></i>Guyana</div>
  <div class="item" data-value="ht"><i class="ht flag"></i>Haiti</div>
  <div class="item" data-value="hm"><i class="hm flag"></i>Heard Island</div>
  <div class="item" data-value="hn"><i class="hn flag"></i>Honduras</div>
  <div class="item" data-value="hk"><i class="hk flag"></i>Hong Kong</div>
  <div class="item" data-value="hu"><i class="hu flag"></i>Hungary</div>
  <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
  <div class="item" data-value="in"><i class="in flag"></i>India</div>
  <div class="item" data-value="io"><i class="io flag"></i>Indian Ocean Territory</div>
  <div class="item" data-value="id"><i class="id flag"></i>Indonesia</div>
  <div class="item" data-value="ir"><i class="ir flag"></i>Iran</div>
  <div class="item" data-value="iq"><i class="iq flag"></i>Iraq</div>
  <div class="item" data-value="ie"><i class="ie flag"></i>Ireland</div>
  <div class="item" data-value="il"><i class="il flag"></i>Israel</div>
  <div class="item" data-value="it"><i class="it flag"></i>Italy</div>
  <div class="item" data-value="jm"><i class="jm flag"></i>Jamaica</div>
  <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
  <div class="item" data-value="jo"><i class="jo flag"></i>Jordan</div>
  <div class="item" data-value="kz"><i class="kz flag"></i>Kazakhstan</div>
  <div class="item" data-value="ke"><i class="ke flag"></i>Kenya</div>
  <div class="item" data-value="ki"><i class="ki flag"></i>Kiribati</div>
  <div class="item" data-value="kw"><i class="kw flag"></i>Kuwait</div>
  <div class="item" data-value="kg"><i class="kg flag"></i>Kyrgyzstan</div>
  <div class="item" data-value="la"><i class="la flag"></i>Laos</div>
  <div class="item" data-value="lv"><i class="lv flag"></i>Latvia</div>
  <div class="item" data-value="lb"><i class="lb flag"></i>Lebanon</div>
  <div class="item" data-value="ls"><i class="ls flag"></i>Lesotho</div>
  <div class="item" data-value="lr"><i class="lr flag"></i>Liberia</div>
  <div class="item" data-value="ly"><i class="ly flag"></i>Libya</div>
  <div class="item" data-value="li"><i class="li flag"></i>Liechtenstein</div>
  <div class="item" data-value="lt"><i class="lt flag"></i>Lithuania</div>
  <div class="item" data-value="lu"><i class="lu flag"></i>Luxembourg</div>
  <div class="item" data-value="mo"><i class="mo flag"></i>Macau</div>
  <div class="item" data-value="mk"><i class="mk flag"></i>Macedonia</div>
  <div class="item" data-value="mg"><i class="mg flag"></i>Madagascar</div>
  <div class="item" data-value="mw"><i class="mw flag"></i>Malawi</div>
  <div class="item" data-value="my"><i class="my flag"></i>Malaysia</div>
  <div class="item" data-value="mv"><i class="mv flag"></i>Maldives</div>
  <div class="item" data-value="ml"><i class="ml flag"></i>Mali</div>
  <div class="item" data-value="mt"><i class="mt flag"></i>Malta</div>
  <div class="item" data-value="mh"><i class="mh flag"></i>Marshall Islands</div>
  <div class="item" data-value="mq"><i class="mq flag"></i>Martinique</div>
  <div class="item" data-value="mr"><i class="mr flag"></i>Mauritania</div>
  <div class="item" data-value="mu"><i class="mu flag"></i>Mauritius</div>
  <div class="item" data-value="yt"><i class="yt flag"></i>Mayotte</div>
  <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
  <div class="item" data-value="fm"><i class="fm flag"></i>Micronesia</div>
  <div class="item" data-value="md"><i class="md flag"></i>Moldova</div>
  <div class="item" data-value="mc"><i class="mc flag"></i>Monaco</div>
  <div class="item" data-value="mn"><i class="mn flag"></i>Mongolia</div>
  <div class="item" data-value="me"><i class="me flag"></i>Montenegro</div>
  <div class="item" data-value="ms"><i class="ms flag"></i>Montserrat</div>
  <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
  <div class="item" data-value="mz"><i class="mz flag"></i>Mozambique</div>
  <div class="item" data-value="na"><i class="na flag"></i>Namibia</div>
  <div class="item" data-value="nr"><i class="nr flag"></i>Nauru</div>
  <div class="item" data-value="np"><i class="np flag"></i>Nepal</div>
  <div class="item" data-value="an"><i class="an flag"></i>Netherlands Antilles</div>
  <div class="item" data-value="nl"><i class="nl flag"></i>Netherlands</div>
  <div class="item" data-value="nc"><i class="nc flag"></i>New Caledonia</div>
  <div class="item" data-value="pg"><i class="pg flag"></i>New Guinea</div>
  <div class="item" data-value="nz"><i class="nz flag"></i>New Zealand</div>
  <div class="item" data-value="ni"><i class="ni flag"></i>Nicaragua</div>
  <div class="item" data-value="ne"><i class="ne flag"></i>Niger</div>
  <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
  <div class="item" data-value="nu"><i class="nu flag"></i>Niue</div>
  <div class="item" data-value="nf"><i class="nf flag"></i>Norfolk Island</div>
  <div class="item" data-value="kp"><i class="kp flag"></i>North Korea</div>
  <div class="item" data-value="mp"><i class="mp flag"></i>Northern Mariana Islands</div>
  <div class="item" data-value="no"><i class="no flag"></i>Norway</div>
  <div class="item" data-value="om"><i class="om flag"></i>Oman</div>
  <div class="item" data-value="pk"><i class="pk flag"></i>Pakistan</div>
  <div class="item" data-value="pw"><i class="pw flag"></i>Palau</div>
  <div class="item" data-value="ps"><i class="ps flag"></i>Palestine</div>
  <div class="item" data-value="pa"><i class="pa flag"></i>Panama</div>
  <div class="item" data-value="py"><i class="py flag"></i>Paraguay</div>
  <div class="item" data-value="pe"><i class="pe flag"></i>Peru</div>
  <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
  <div class="item" data-value="pn"><i class="pn flag"></i>Pitcairn Islands</div>
  <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div>
  <div class="item" data-value="pt"><i class="pt flag"></i>Portugal</div>
  <div class="item" data-value="pr"><i class="pr flag"></i>Puerto Rico</div>
  <div class="item" data-value="qa"><i class="qa flag"></i>Qatar</div>
  <div class="item" data-value="re"><i class="re flag"></i>Reunion</div>
  <div class="item" data-value="ro"><i class="ro flag"></i>Romania</div>
  <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
  <div class="item" data-value="rw"><i class="rw flag"></i>Rwanda</div>
  <div class="item" data-value="sh"><i class="sh flag"></i>Saint Helena</div>
  <div class="item" data-value="kn"><i class="kn flag"></i>Saint Kitts and Nevis</div>
  <div class="item" data-value="lc"><i class="lc flag"></i>Saint Lucia</div>
  <div class="item" data-value="pm"><i class="pm flag"></i>Saint Pierre</div>
  <div class="item" data-value="vc"><i class="vc flag"></i>Saint Vincent</div>
  <div class="item" data-value="ws"><i class="ws flag"></i>Samoa</div>
  <div class="item" data-value="sm"><i class="sm flag"></i>San Marino</div>
  <div class="item" data-value="gs"><i class="gs flag"></i>Sandwich Islands</div>
  <div class="item" data-value="st"><i class="st flag"></i>Sao Tome</div>
  <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
  <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
  <div class="item" data-value="cs"><i class="cs flag"></i>Serbia</div>
  <div class="item" data-value="rs"><i class="rs flag"></i>Serbia</div>
  <div class="item" data-value="sc"><i class="sc flag"></i>Seychelles</div>
  <div class="item" data-value="sl"><i class="sl flag"></i>Sierra Leone</div>
  <div class="item" data-value="sg"><i class="sg flag"></i>Singapore</div>
  <div class="item" data-value="sk"><i class="sk flag"></i>Slovakia</div>
  <div class="item" data-value="si"><i class="si flag"></i>Slovenia</div>
  <div class="item" data-value="sb"><i class="sb flag"></i>Solomon Islands</div>
  <div class="item" data-value="so"><i class="so flag"></i>Somalia</div>
  <div class="item" data-value="za"><i class="za flag"></i>South Africa</div>
  <div class="item" data-value="kr"><i class="kr flag"></i>South Korea</div>
  <div class="item" data-value="es"><i class="es flag"></i>Spain</div>
  <div class="item" data-value="lk"><i class="lk flag"></i>Sri Lanka</div>
  <div class="item" data-value="sd"><i class="sd flag"></i>Sudan</div>
  <div class="item" data-value="sr"><i class="sr flag"></i>Suriname</div>
  <div class="item" data-value="sj"><i class="sj flag"></i>Svalbard</div>
  <div class="item" data-value="sz"><i class="sz flag"></i>Swaziland</div>
  <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
  <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
  <div class="item" data-value="sy"><i class="sy flag"></i>Syria</div>
  <div class="item" data-value="tw"><i class="tw flag"></i>Taiwan</div>
  <div class="item" data-value="tj"><i class="tj flag"></i>Tajikistan</div>
  <div class="item" data-value="tz"><i class="tz flag"></i>Tanzania</div>
  <div class="item" data-value="th"><i class="th flag"></i>Thailand</div>
  <div class="item" data-value="tl"><i class="tl flag"></i>Timorleste</div>
  <div class="item" data-value="tg"><i class="tg flag"></i>Togo</div>
  <div class="item" data-value="tk"><i class="tk flag"></i>Tokelau</div>
  <div class="item" data-value="to"><i class="to flag"></i>Tonga</div>
  <div class="item" data-value="tt"><i class="tt flag"></i>Trinidad</div>
  <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
  <div class="item" data-value="tr"><i class="tr flag"></i>Turkey</div>
  <div class="item" data-value="tm"><i class="tm flag"></i>Turkmenistan</div>
  <div class="item" data-value="tv"><i class="tv flag"></i>Tuvalu</div>
  <div class="item" data-value="ug"><i class="ug flag"></i>Uganda</div>
  <div class="item" data-value="ua"><i class="ua flag"></i>Ukraine</div>
  <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
  <div class="item" data-value="us"><i class="us flag"></i>United States</div>
  <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
  <div class="item" data-value="um"><i class="um flag"></i>Us Minor Islands</div>
  <div class="item" data-value="vi"><i class="vi flag"></i>Us Virgin Islands</div>
  <div class="item" data-value="uz"><i class="uz flag"></i>Uzbekistan</div>
  <div class="item" data-value="vu"><i class="vu flag"></i>Vanuatu</div>
  <div class="item" data-value="va"><i class="va flag"></i>Vatican City</div>
  <div class="item" data-value="ve"><i class="ve flag"></i>Venezuela</div>
  <div class="item" data-value="vn"><i class="vn flag"></i>Vietnam</div>
  <div class="item" data-value="wf"><i class="wf flag"></i>Wallis and Futuna</div>
  <div class="item" data-value="eh"><i class="eh flag"></i>Western Sahara</div>
  <div class="item" data-value="ye"><i class="ye flag"></i>Yemen</div>
  <div class="item" data-value="zm"><i class="zm flag"></i>Zambia</div>
  <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
</div>
 </div>
  </div>
</div>    
                            </div>                        </div>
                        <p class="usage"><span>Usage</span> : add a <code>checkbox</code>, <code>radio</code>, <code>selection</code> into the field.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;!-- Checkbox --&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;div class=&quot;ui checkbox&quot;&gt;
      &lt;input type=&quot;checkbox&quot;&gt;
      &lt;label&gt;Checkbox&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt; 
  
  &lt;!-- Radio --&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;div class=&quot;ui radio checkbox&quot;&gt;
      &lt;input type=&quot;checkbox&quot;&gt;
      &lt;label&gt;Checkbox&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
  &lt;!-- Selection --&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;div class=&quot;ui selection dropdown&quot;&gt;
       &lt;input type=&quot;hidden&quot; name=&quot;country&quot;&gt;
       &lt;i class=&quot;dropdown icon&quot;&gt;&lt;/i&gt;
       &lt;div class=&quot;default text&quot;&gt;Select Country&lt;/div&gt;
       &lt;div class=&quot;menu&quot;&gt;
          ...
       &lt;/div&gt;
    &lt;/div&gt;    
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                        
                    
                    <!-- Message Content --> 
                    <div class="block">
                        <h3 id="message" class="title">Message</h3>
                        <p class="description">A form can contain a <a href="/design/component/message">message</a>.    </p>
                        <div class="display">
<div class="ui form">
  <div class="ui message">
    <div class="header">We had some issues</div>
    <ul class="list">
      <li>Please enter your first name</li>
      <li>Please enter your last name</li>
    </ul>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : add a <code>message</code> as a <code>field</code> into the form.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;ui message&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;We had some issues&lt;/div&gt;
    &lt;div class=&quot;ui bulleted list&quot;&gt;
      ...
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                            </div>
                    
                    
                    <div id="states">
                    <h2>States</h2>
                    <!-- Success State --> 
                    <div class="block">
                        <h3 id="success" class="title">Success</h3>
                        <p class="description">If a form is in an success state, it will automatically show any success message blocks.</p>
                        <div class="display">
<div class="ui form success">
  <div class="field">
    <label>E-mail</label>
    <input type="email" placeholder="marcus@hoiio.com">
  </div>
  <div class="ui success message">
      
    <p>You're all signed up for the newsletter.</p>
  </div>
  <div class="ui button">Submit</div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : 
                            <br>- Insert a class <code>.success</code> before the class <code>.form</code>.
                            <br>- Add a success message into the form.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui success form&quot;&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;E-mail&lt;/label&gt;
    &lt;input type=&quot;email&quot; placeholder=&quot;marcus@hoiio.com&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ui success message&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;ui button&quot;&gt;Submit&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                        
                        
                        
                    </div>
                    
                    <!-- Error State --> 
                    <div class="block">
                        <h3 id="error" class="title">Error</h3>
                        <p class="description">If a form is in an error state, it will automatically show any error message blocks.</p>
                        <div class="display">
<div class="ui form error">
  <div class="field">
    <label>E-mail</label>
    <input type="email" placeholder="marcus@hoiio.com">
  </div>
  <div class="ui error message">
    <div class="header">Action Forbidden</div>
    <p>You can only sign up for an account once with a given e-mail address.</p>
  </div>
  <div class="ui submit button">Submit</div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : 
                            <br>- Insert a class <code>.error</code> before the class <code>.form</code>.
                            <br>- Add a error message into the form.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui error form&quot;&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;E-mail&lt;/label&gt;
    &lt;input type=&quot;email&quot; placeholder=&quot;marcus@hoiio.com&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ui error message&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;ui button&quot;&gt;Submit&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    <!-- Error Fields --> 
                    <div class="block">
                        <h3 id="error-field" class="title">Error Fields</h3>
                        <p class="description">Individual fields may display an error state</p>
                        <div class="display">
<div class="ui form">
  <div class="two fields">
    <div class="field error">
      <label>First Name</label>
      <input placeholder="First Name" type="text">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div>
  <div class="field error">
    <label>Gender</label>
    <div class="ui selection dropdown">
      <div class="default text">Select</div>
      <i class="dropdown icon"></i>
      <input type="hidden" name="gender">
      <div class="menu">
        <div class="item" data-value="male">Male</div>
        <div class="item" data-value="female">Female</div>
      </div>
    </div>
  </div>
  
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.error</code> before the class <code>.field</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;error field&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>    
                        
                    <!-- Warning State --> 
                    <div class="block">
                        <h3 id="warning" class="title">Warning</h3>
                        <p class="description">If a form is in warning state, it will automatically show any warning message block.</p>
                        <div class="display">
<div class="ui form warning">
  <div class="field">
    <label>E-mail</label>
    <input type="email" placeholder="marcus@hoiio.com">
  </div>
  <div class="ui warning message">
    <div class="header">Could you check something!</div>
    <ul class="list">
      <li>That e-mail has been subscribed, but you have not yet clicked the verification link in your e-mail.</li>
    </ul>
  </div>
  <div class="ui submit button">Submit</div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : 
                            <br>- Insert a class <code>.warning</code> before the class <code>.form</code>.
                            <br>- Add a warning message into the form.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui warning form&quot;&gt;
  &lt;div class=&quot;field&quot;&gt;
    &lt;label&gt;E-mail&lt;/label&gt;
    &lt;input type=&quot;email&quot; placeholder=&quot;marcus@hoiio.com&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ui warning message&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;ui button&quot;&gt;Submit&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    
                    <!-- Disabled State --> 
                    <div class="block">
                        <h3 id="disabled" class="title">Disabled</h3>
                        <p class="description">Individual fields may be disabled.</p>
                        <div class="display">
<div class="ui form">
  <div class="two fields">
    <div class="disabled field">
      <label>First Name</label>
      <input placeholder="Read Only" disabled="" type="text">
    </div>
    <div class="disabled field">
      <label>Last Name</label>
      <input placeholder="Disabled" disabled="" type="text">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.disabled</code> before the class <code>.field</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
  &lt;div class=&quot;disabled field&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                        
                        </div>
                        
                        <div id="variations">
                        <h2>Variations</h2>
                    
                    <!-- Equal Width --> 
                    <div class="block">
                        <h3 id="equal-width" class="title">Equal Width</h3>
                        <p class="description">Forms can automatically divide fields to be equal width.</p>
                        <div class="display">
<div class="ui equal width form">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password"  placeholder="Password">
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert classes <code>.equal, .width</code> before the class <code>.form</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui equal width form&quot;&gt;
   &lt;div class=&quot;fields&quot;&gt;
      &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
      &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                        <p class="description">Fields can also automatically divide fields to be equal width.</p>
                        <div class="display">
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input type="text" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password">
    </div>
  </div>
  <div class="equal width fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert classes <code>.equal, .width</code> before the class <code>.form</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui form&quot;&gt;
   &lt;div class=&quot;equal width fields&quot;&gt;
      &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
      &lt;div class=&quot;field&quot;&gt;...&lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    
                    <!-- Inverted --> 
                    <div class="block">
                        <h3 id="inverted" class="title">Inverted</h3>
                        <p class="description">A form on a dark background may have to invert its color scheme.</p>
                        <div class="display">
<div class="ui inverted segment">
  <div class="ui inverted form">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text">
      </div>
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui submit button">Submit</div>
  </div>
</div>
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.inverted</code> before the class <code>.form</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui inverted form&quot;&gt;
   ...
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    <!-- Size --> 
                    <div class="block">
                        <h3 id="sizes" class="title">Sizes</h3>
                        <p class="description">A form can also be small or large.</p>
                        <div class="display">
<div class="ui small form">
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div>
  <div class="ui submit button">Submit</div>
</div>
              
                            <br>
<div class="ui large form">
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div>
  <div class="ui submit button">Submit</div>
</div>                            
                        </div>
                        <p class="usage"><span>Usage</span> : insert a class <code>.small</code> or <code>.large</code> before the class <code>.form</code>.
                        </p>
                        <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui small form&quot;&gt;
  ...
&lt;/div&gt;

&lt;div class=&quot;ui large form&quot;&gt;
  ...
&lt;/div&gt;
</code>
</pre>
                        </div>
                    </div>
                    
                    
                    
                    
                            </div>
                        
                    </div>
                    <div class="column" id="table-content">
                        <div id="sticky-anchor"></div>
                        <div id="sticky">
                        <ul class="category">    
                            <li class="title">Form</li>    
                            <li class="item"><a href="#definition">Definition</a></li>
                            <li class="title">Contents</li> 
                            <li class="item"><a href="#field">A Field</a></li> 
                            <li class="item"><a href="#fields">Fields</a></li> 
                            <li class="item"><a href="#text-area">Text Area</a></li> 
                            <li class="item"><a href="#components">Components</a></li> 
                            <li class="item"><a href="#message">Message</a></li> 
                            <li class="title">States</li> 
                            <li class="item"><a href="#success">Success</a></li> 
                            <li class="item"><a href="#error">Error</a></li> 
                            <li class="item"><a href="#error-field">Error Fields</a></li> 
                            <li class="item"><a href="#warning">Warning</a></li> 
                            <li class="title">Variations</li>
                            <li class="item"><a href="#equal-width">Equal Width</a></li> 
                            <li class="item"><a href="#inverted">Inverted</a></li> 
                            <li class="item"><a href="#sizes">Sizes</a></li> 
                        </ul>
                    </div>
                
                </div>
            
                </div>
                <div class="ui grid">
                    <div class="column" id="footer">
                        <div class="inner">
                            <p>© Copyright 2016. Hoiio Pte Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        
     
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../dist/semantic.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/content.js"></script>
    <script src="../source/js/hoiio.js"></script>
    <script src="../source/js/tablesort.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    

</body>
</html>