<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, semantic">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Modal Plugin Options - Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../dist/semantic.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/hoiio.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body id="plugin-modal">
    <div class="hoiio loading"></div>
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="first column"></div>
            <div class="second column">
                <div class="ui grid">
                    <div class="column" id="page-name">
                        <div class="category">Plugin Options</div>
                        <h1 class="name">Modal</h1>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="column" id="content">
                        
                        <!-- Options --> 
                        <div id="options">
                            <!-- Methods -->
                            <div class="block">
                                <h3 id="methods" class="title">Methods</h3>
                                <p class="description">Here are some useful methods that can be used with modal().</p>
                                <div class="display">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th>Method</th>
                                                    <th></th>
                                                    <th>Description</th>
                                                    <th>Example</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Options</td>
                                                    <td>.modal(options)</td>
                                                    <td>Activates your content as a modal. Accepts an optional options object.</td>
                                                    <td><pre><code><span class="pln">$</span><span class="pun">(</span><span class="str">'.demo.modal'</span><span class="pun">).</span><span class="pln">modal</span><span class="pun">({</span><span class="pln">
        closable</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">false</span><span class="pln">
    </span><span class="pun">})</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Toggle</td>
                                                    <td>.modal('toggle')</td>
                                                    <td>Manually toggles a modal.</td>
                                                    <td><pre><code><span class="pln">$</span><span class="pun">(</span><span class="str">'.demo.modal'</span><span class="pun">).</span><span class="pln">modal</span><span class="pun">(</span><span class="str">'toggle'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Show</td>
                                                    <td>.modal('show')</td>
                                                    <td>Manually opens a modal.</td>
                                                    <td><pre><code><span class="pln">$</span><span class="pun">(</span><span class="str">'.demo.modal'</span><span class="pun">).</span><span class="pln">modal</span><span class="pun">(</span><span class="str">'show'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>Hide</td>
                                                    <td>.modal('hide')</td>
                                                    <td>Manually hides a modal.</td>
                                                    <td><pre><code><span class="pln">$</span><span class="pun">(</span><span class="str">'.demo.modal'</span><span class="pun">).</span><span class="pln">modal</span><span class="pun">(</span><span class="str">'hide'</span><span class="pun">)</span></code></pre></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="ui message">  
        <p class="description">Besides using an option with its value individually, you can call them as arguments of a setting method like show, hide, toggle : .modal(<code>'setting'</code>, <code>'options'</code>, <code>value</code>). Example: .modal(<code>'setting'</code>, <code>'closable'</code>, <code>false</code>)</p> 
    </div>

                            <!-- Options -->
                            <div class="block">
                                <h3 id="option" class="title">Options</h3>
                                <p class="description">There are certain options which can be passed via JavaScript to customize the look and feel of the Modal Window. Following table lists the options.</p>
                                <div class="display options">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th>Option Name</th>
                                                    <th>Default Value</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>autofocus</td>
                                                    <td>true</td>
                                                    <td>When true, the first form input inside the modal will receive focus when shown. Set this to false to prevent this behavior.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>allowMultiple</td>
                                                    <td>false</td>
                                                    <td>If set to true will not close other visible modals when opening a new one</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>closable</td>
                                                    <td>true</td>
                                                    <td>Setting to false will not allow you to close the modal by clicking on the dimmer</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>duration</td>
                                                    <td>400</td>
                                                    <td>Duration of animation</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>transition</td>
                                                    <td>scale</td>
                                                    <td>Named transition to use when animating menu in and out, full list can be found in <a href="/design/plugin/transition">ui transitions</a> docs.</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Examples -->
                        <div class="examples">
                            <h2>Options Examples</h2>
                            
                            <!-- AutoFocus -->
                            <div class="block">
                                <h3 id="auto-focus" class="title">Autofocus</h3>
                                <div class="display">
    <button class="ui button" id="autofocus-true">autofocus = true</button>
    <div class="ui small modal" id="autofocus-true-modal">
        <div class="header">
          Autofocus = true
        </div>
        <div class="content">
          <div class="ui fluid input">
              <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="actions">
          <div class="ui cancel button">Cancel</div>
        </div>
      </div>
    <button class="ui primary button" id="autofocus-false" style="margin-left:1rem">autofocus = false</button>
    <div class="ui small modal" id="autofocus-false-modal">
        <div class="header">
          Autofocus = false
        </div>
        <div class="content">
          <div class="ui fluid input">
              <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="actions">
          <div class="ui cancel button">Cancel</div>
        </div>
      </div>                                


                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.autofocus.false.modal')
    .modal('setting', 'autofocus', false)
    .modal('show')
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>
                            
                            <!-- Multiple Modals -->
                            <div class="block">
                                <h3 id="multi-modal" class="title">Multiple Modals</h3>
                                <p class="description">A modal can open a second modal. If you use <code>allowMultiple: true</code> parameter the second modal will be opened on top of the first modal. Otherwise the modal will be closed before the second modal is opened.</p>
                                <div class="display">
    <button class="ui primary coupled button">Launch coupled modal</button>
    <div class="ui small first coupled modal">
        <div class="header">
          Modal #1
        </div>
        <div class="content">
          <p>This is the modal 1. Click Next to go to modal 2.</p>
        </div>
        <div class="actions">
          <div class="ui primary button">Next<i class="angle right icon"></i></div>
        </div>
    </div>
    <div class="ui small second coupled modal">
        <div class="header">
          Modal #2
        </div>
        <div class="content">
          <div class="description">
            <p>That's everything!</p>
          </div>
        </div>
        <div class="actions">
          <div class="ui approve button">
            <i class="checkmark icon"></i>
            All Done
          </div>
        </div>
    </div>                                

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.coupled.modal')
  .modal('setting', ' allowMultiple', false)
;
// Click the coupled button to show the first modal.
$('.first.modal')
  .modal('attach events', '.coupled.button')
;
// Click the action button in first modal to show the second modal.
$('.second.modal')
  .modal('attach events', '.first.modal .button')
;
&lt;/script&gt;

&lt;button class=&quot;ui primary coupled button&quot;&gt;Launch coupled modal&lt;/button&gt;
&lt;div class=&quot;ui first coupled modal&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;Modal #1&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        ...
    &lt;/div&gt;
    &lt;div class=&quot;actions&quot;&gt;
      &lt;div class=&quot;ui primary button&quot;&gt;Next&lt;i class=&quot;angle right icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;ui second coupled modal&quot;&gt;
    &lt;div class=&quot;header&quot;&gt;Modal #2&lt;/div&gt;
    &lt;div class=&quot;content&quot;&gt;
        ...
    &lt;/div&gt;
    &lt;div class=&quot;actions&quot;&gt;
      &lt;div class=&quot;ui approve button&quot;&gt;
        &lt;i class=&quot;checkmark icon&quot;&gt;&lt;/i&gt;
        All Done
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt; 
</code>
</pre>
                            </div>
                            </div>                                
                            
                            <!-- Forcing a Choice -->
                            <div class="block">
                                <h3 id="forcing-a-choice" class="title">Forcing a Choice</h3>
                                <p class="description">Disable a modal's dimmer from being closed by click to force a user to make a choice.</p>
                                <div class="display">
    <button class="ui primary button" id="closable-false">closable = false</button>
    <div class="ui small basic modal" id="closable-false-modal">
        <div class="ui icon header">
          <i class="briefcase icon"></i>
          Archive Old Messages
        </div>
        <div class="content">
          <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
        </div>
        <div class="actions">
          <div class="ui cancel inverted button">
            <i class="remove icon"></i>
            No
          </div>
          <div class="ui ok inverted primary button">
            <i class="checkmark icon"></i>
            Yes
          </div>
        </div>
    </div>                                  


                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.closable.false.modal')
  .modal('setting', 'closable', false)
  .modal('show')
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>  
                            
                            <!-- Duration -->
                            <div class="block">
                                <h3 id="duration" class="title">Duration</h3>
                                <p class="description">A modal can change duration of transition.</p>
                                <div class="display">
    <button class="ui primary duration button">Duration = 100</button>
    <div class="ui duration modal">
        <i class="close icon"></i>
        <div class="header">
          This is the modal title
        </div>
        <div class="content">
            <p>Add some text here.</p>
        </div>
        <div class="actions">
          <div class="ui deny button">
            Cancel
          </div>
          <div class="ui approve primary button">
            Submit
          </div>
        </div>
    </div>                             


                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.duration.modal')
  .modal('setting', 'duration', 100)
  .modal('show')
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>  
                            
                            <!-- Transition -->
                            <div class="block">
                                <h3 id="transition" class="title">Transition</h3>
                                <p class="description">A modal can use <a href="/design/plugin/transition">transitions</a>.</p>
                                <div class="display">
    <div class="ui selection dropdown" id="transitions">
      <input type="hidden" name="gender">
      <i class="dropdown icon"></i>
      <div class="default text">Choose a transition</div>
      <div class="menu">
        <div class="item" data-value="horizontal flip">Horizontal Flip</div>
        <div class="item" data-value="vertical flip">Vertical Flip</div>
        <div class="item" data-value="browse">Browse</div>
        <div class="item" data-value="fade">Fade</div>
        <div class="item" data-value="slide down">Slide Down</div>
          <div class="item" data-value="fly left">Fly Left</div>
      </div>
    </div>         

    <div class="ui demo modal">
        <i class="close icon"></i>
        <div class="header">
          This is the modal title
        </div>
        <div class="content">
            <p>Add some text here.</p>
        </div>
        <div class="actions">
          <div class="ui deny button">
            Cancel
          </div>
          <div class="ui approve primary button">
            Submit
          </div>
        </div>
    </div>                              

                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.closable.false.modal')
  .modal('setting', 'transition', 'horizontal flip')
  .modal('show')
;
&lt;/script&gt;
</code>
</pre>
                            </div>
                            </div>
                        </div>

                        <!-- Events --> 
                        <div id="events">
                            <h2>Events</h2>
                            <!-- Methods -->
                            <div class="block">
                                <p class="description">Following table lists the events to work with modal. These events may be used to hook into the function.</p>
                                <div class="display events">
                                    <div class="holder">
                                        <table class="grid">
                                            <thead>
                                                <tr>
                                                    <th>Event</th>
                                                    <th>Description</th>
                                                    <th>Example</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>onShow</td>
                                                    <td>Is called when a modal starts to show.</td>
                                                    <td>
    <pre><code><span class="str">onShow</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onVisible</td>
                                                    <td>Is called after a modal has finished showing animating.</td>
                                                    <td>
    <pre><code><span class="str">onVisible</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onHide</td>
                                                    <td>Is called after a modal starts to hide.</td>
                                                    <td>
    <pre><code><span class="str">onHide</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onHidden</td>
                                                    <td>Is called after a modal has finished hiding animation.</td>
                                                    <td>
    <pre><code><span class="str">onHidden</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onApprove</td>
                                                    <td>Is called after an approve or ok button is pressed. If the function returns false, the modal will not hide.</td>
                                                    <td>
    <pre><code><span class="str">onApprove</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>
                                                <tr>
                                                    <td>onDeny</td>
                                                    <td>Is called after a deny or cancel button is pressed. If the function returns false the modal will not hide.</td>
                                                    <td>
    <pre><code><span class="str">onDeny</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pln"> </span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln"></span>
        <span class="com">// do something…                </span>
    <span class="pln">}</span>
     </code></pre></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Examples -->
                            <div class="block">
                                <h3 id="event-example" class="non counter">Examples</h3>
                                <p class="description">If <code>onDeny</code> or <code>onApprove</code> returns false it will prevent the modal from closing.</p>
                                <div class="display">
    <button class="ui primary button" id="event-button">Launch demo</button>
    <div class="ui modal" id="event-modal">
        <i class="close icon"></i>
        <div class="header">
          This is the modal title
        </div>
        <div class="content">
            <p>Add some text here.</p>
        </div>
        <div class="actions">
          <div class="ui deny button">
            Cancel
          </div>
          <div class="ui approve primary button">
            Submit
          </div>
        </div>
    </div>                                  


                                </div>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.closable.false.modal')
  .modal({
    onVisible    : function(){
      window.alert('Show');
    }, 
    onDeny    : function(){
      window.alert('Wait not yet!');
      return false;
    },
    onApprove : function() {
      window.alert('Approved!');
    }
  })
  .modal('show')
;
&lt;/script&gt;
</code>
</pre>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="column" id="table-content">
                        <div id="sticky-anchor"></div>
                        <div id="sticky">
                        <ul class="category">    
                            
                            <li class="title">Plugin Options</li> 
                            <li class="item"><a href="#methods">Methods</a></li>
                            <li class="item"><a href="#option">Options</a></li>
                            <li class="title">Options Examples</li> 
                            <li class="item"><a href="#auto-focus">Auto Focus</a></li>
                            <li class="item"><a href="#multi-modal"></a>Multiple Modals</li>
                            <li class="item"><a href="#forcing-a-choice">Forcing a Choice</a></li>
                            <li class="item"><a href="#duration">Duration</a></li>
                            <li class="item"><a href="#transition">Transition</a></li>
                            
                            <li class="title">Plugin Events</li> 
                            <li class="item"><a href="#events">Events</a></li>
                            <li class="item"><a href="#event-example">Examples</a></li>
                        </ul>
                    </div>
                
                </div>
            
                </div>
                <div class="ui grid">
                    <div class="column" id="footer">
                        <div class="inner">
                            <p>© Copyright 2016. Hoiio Pte Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        
     
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../dist/semantic.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/content.js"></script>
    <script src="../source/js/hoiio.js"></script>
    <script src="../source/js/tablesort.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    

</body>
</html>