<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, semantic">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Progress Plugin - Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../dist/semantic.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/hoiio.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body id="">
    <div class="hoiio loading"></div>
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="first column"></div>
            <div class="second column">
                <div class="ui grid">
                    <div class="column" id="page-name">
                        <div class="category">Plugin</div>
                        <h1 class="name">Progress</h1>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="column" id="content">
                        <!-- Standard -->
                        <div id="definition">
                            <div class="block">
                                <p class="description">Progress bars is used to show that assets are loading, in progress, or that there is action taking place regarding elements on the page.
                                </p>
                                
                                <h3 id="initializing-a-progress" class="non counter">Initializing a progress</h3>
                                <p class="description">Call an identifier via a single line of JavaScript to initiate a progress.
                                </p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;script&gt;
$('.ui.progress').progress();
&lt;/script&gt;
</code>
</pre>

                                </div>
                                
                                <!-- Content -->
                                <h3 id="contents" class="non counter">Content</h3>
                                <p class="description">A progress can contain a label and a bar which displays a text value indicating current progress.</p>
                                <h5 class="sub">Simple Progress</h5>
                                <div class="display">                             
<div class="example">
   <div class="ui progress" style="margin:0 !important">
    <div class="bar">
    </div>
  </div>
</div>
                                </div>
                                
                                 <p class="usage"><span>Usage</span> : <br>- Add a <code>&lt;div&gt;</code> with classes <code>.ui, .progress</code>.
                                    <br>- Next, inside the above <code>&lt;div&gt;</code>, add an empty <code>&lt;div&gt;</code> with a class <code>.bar</code>.
                                </p>
                                
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

                                </div>
                                <h5 class="sub">Progress with a text value</h5>
                                <div class="display">                             
<div class="example">
  <div class="ui progress" style="margin:0 !important">
    <div class="bar">
      <div class="progress"></div>
    </div>
  </div>
</div>

                                </div>
                                <p class="usage"><span>Usage</span> : add a <code>&lt;div&gt;</code> with a class <code>.progress</code> into the bar.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

                                </div>
                                
                                <h5 class="sub">Progress with a label</h5>
                                <div class="display">                             
<div class="example">
  <div class="ui progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Uploading Files</div>  
  </div>
</div>

                                </div>
                                <p class="usage"><span>Usage</span> : insert a <code>&lt;div&gt;</code> with a class <code>.label</code> after the bar.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;Uploading Files&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <!-- States -->
                        <div id="states">
                            <h2>States</h2>
                            <!-- Active -->
                            <div class="block">
                                <h3 id="active" class="title">Active</h3>
                                <p class="description">A progress bar can show activity.</p>
                                <div class="display example">
<div class="ui progress">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Uploading Files</div>
</div>                                   
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.active</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui active progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;Uploading Files&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                            <!-- Disabled -->
                            <div class="block">
                                <h3 id="disabled" class="title">Disabled</h3>
                                <p class="description">A progress bar can show an error state.</p>
                                <div class="display example">
<div class="ui disabled progress">
  <div class="bar"></div>
</div>                                
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.error</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui error progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                            
                            <!-- Success -->
                            <div class="block">
                                <h3 id="success" class="title">Success</h3>
                                <p class="description">A progress bar can show a success state.</p>
                                <div class="display example">
<div class="ui success progress">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Everything worked, your file is all ready.</div>
</div>                                
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.success</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui success progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                            <!-- Warning -->
                            <div class="block">
                                <h3 id="warning" class="title">Warning</h3>
                                <p class="description">A progress bar can show a warning state.</p>
                                <div class="display example">
<div class="ui warning progress">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Your file didn't meet the minimum resolution requirements.</div>
</div>                                
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.warning</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui warning progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                            <!-- Error -->
                            <div class="block">
                                <h3 id="error" class="title">Error</h3>
                                <p class="description">A progress bar can show an error state.</p>
                                <div class="display example">
<div class="ui error progress">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">There was an error.</div>
</div>                                
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.error</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui error progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                        </div>

                        <!-- Types -->
                        <div id="types">
                            <h2>Type</h2>
                            <!-- Indicating -->
                            <div class="block">
                                <h3 id="indicating" class="non counter">Indicating</h3>
                                <p class="description">An indicating progress bar visually indicates the current level of progress of a task.</p>
                                <div class="display example">
 <div class="ui indicating progress">
  <div class="bar"><div class="progress"></div></div>
  <div class="label">Uploading Files</div>
</div>
<div class="ui icon buttons">
  <div class="decrement ui basic red button"><i class="minus icon"></i></div>
  <div class="increment ui basic green button"><i class="plus icon"></i></div>
</div>                                    
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.indicating</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui indicating progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;Uploading Files&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>       
                        </div>

                        <!-- Variation -->
                        <div id="variations">
                            <h2>Variations</h2>
                            <!-- Inverted -->
                            <div class="block">
                                <h3 id="inverted" class="title">Inverted</h3>
                                <p class="description">A progress bar can have its colors inverted.</p>
                                <div class="display">
<div class="ui inverted segment">
  <div class="ui inverted progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Uploading Files</div>
  </div>
  <div class="ui inverted success progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Success</div>
  </div>
  <div class="ui inverted warning progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Warning</div>
  </div>
  <div class="ui inverted error progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Error</div>
  </div>
</div>                             
                                </div>
                                <p class="usage"><span>Usage</span> : insert a class <code>.inverted</code> before the class <code>.progress</code>.</p>
                                <div class="source">
<pre>
<code class="html hljs xml">
&lt;div class=&quot;ui inverted progress&quot;&gt;
    &lt;div class=&quot;bar&quot;&gt;
        &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;label&quot;&gt;...&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
                                </div>
                            </div>
                      
                        </div>
                        
                        
                    </div>
                    <div class="column" id="table-content">
                        <div id="sticky-anchor"></div>
                        <div id="sticky">
                        <ul class="category">    
                            <li class="title"></li>    
                            <li class="item"><a href="#"></a></li>  
                        </ul>
                    </div>
                
                </div>
            
                </div>
                <div class="ui grid">
                    <div class="column" id="footer">
                        <div class="inner">
                            <p>© Copyright 2016. Hoiio Pte Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        
     
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../dist/semantic.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/content.js"></script>
    <script src="../source/js/hoiio.js"></script>
    <script src="../source/js/tablesort.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    

</body>
</html>