<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hoiio Design Standards 2016">
    <meta name="keywords" content="design, ux, standard, hoiio, framework, html, css, interface, component, bootstrap">
    <meta name="author" content="Marcus">
    <link rel="icon" href="source/favicon.ico">

    <title>Hoiio Design Standards</title>
    <!-- jQuery --->
    <script src="../source/js/jquery-2.1.4.min.js"></script>
    <script src="../source/js/modernizr-custom.js"></script>

    <!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../source/dist/css/bootstrap.min.css" />
	<!-- Main styles -->
	<link rel="stylesheet" type="text/css" href="../source/css/main.css" />
	<!-- Highlight -->
	<link rel="stylesheet" type="text/css" href="../source/css/tomorrow.css" />
	
</head>
<body>
    <div class="se-pre-con"></div>
    
    <!-- Main container -->
	<div class="container" id="page">
		<!-- Header -->
		<header class="header"></header>
		<!-- Main Content -->
		<div class="body">
            <!-- Sidebar -->
            <div id="sidebar"></div>
            <!-- Content -->
            <div id="content">
                <div class="content-item component-switch">
                    <div class="item-info">
                        <div class="item-title"><h1>Switch</h1></div>
                        <div class="item-description">
                            
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Types</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
                           
<input type="checkbox" data-toggle="switch" data-on-color="primary" data-off-color="default" data-on-text="HELLOSSS" data-off-text="NO" checked>
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">

</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Variations</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
                            
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">

</code>
                            </pre>
                        </div>
                    </div>
                    <!-- Sub item -->
                    <div class="sub-item">
                        <h2>Alternative Colors</h2>
                        <!-- Sub display -->
                        <div class="sub-display">
                            
                        </div>
                        <!-- Sub info -->
                        <div class="sub-info">
                            <pre>
<code class="html hljs xml">

</code>
                            </pre>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer"></footer>
    </div>
	
    <!-- Latest compiled and minified JavaScript -->
    <script src="../source/dist/js/bootstrap.min.js"></script>
	<script src="../source/js/highlight.pack.js"></script>
    <script src="../source/js/main.js"></script>
    <script src="../source/js/component.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        
    </script>
    
</body>
</html>