
/*======= Reset =======*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/

title:first-letter {
    text-transform:capitalize;
}


.container{
    min-width: 1000px;
}


@media only screen and (max-width: 767px){
    .ui.app.container.container {
        margin-left: 0em!important;
        margin-right: 0em!important;
    }
}

.app.container > .grid > .row:not(:first-child) > .column{
    padding: 0  2.929rem;
}

body{
    background-color: white;
}


/*-----------------------------
    01A Primary MENU
-------------------------------*/

.app.container .primary.menu{
    height: 56px;
    border: none;
    border-radius: 0;
    color: white;
    width: 100%;
}


/* Switch Icon */

.app.container .switch.icon {
    padding: 0;
    width: 30px;
    height: 20px;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    margin-left: 6px;
}

.app.container .switch.icon::before {
    position: absolute;
    top: 20px;
    right: 22px;
    bottom: 20px;
    left: 28px;
    background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
    content: '';
}

/* Header */

.app.container .menu > .header.item{
    font-size: 20px;
    font-weight: bold;
    padding-left: 0;
}

/* Item */

.app.container .menu > .item{
    color: white;
    font-size: 16px;
    opacity: 1;
}

/* Right Item */

.right.menu > .item > .ui.image{
    margin-right: 8px;
}

.right.menu > .item >i.icon{
    color: white;
    font-size: 16px;
    opacity: 1;
}


/*-----------------------------
    01B Secondary MENU
-------------------------------*/

.secondary.app.container.menu{
    
}



/*-----------------------------
    02 Main Info
-------------------------------*/


/* Title */

app .main.information .header{
    text-transform: uppercase;
}

/* Statistic */

.app.container .ui.horizontal.statistic>.value, .app.container .ui.horizontal.statistics .statistic>.value{
    font-size: 2.571rem;
}

.app.container .ui.statistic{
    margin: 0;
}

.app.container .ui.search > .input{
    min-width: 300px;
}

/*-----------------------------
    03 Contents
-------------------------------*/

.app.container .content > .column > .segement,
.app.container .content > .column > .segments{
    
}

.app.container .content.row > .column .segment{
    padding-left: 0;
    padding-right: 0;
}


.app.container .content.row > .column > .segments{
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0;
}

.app.container .content.row .ui.rating .icon{
    font-size: 1.5em;
    
}
   
.app.container .content.row .ui.rating .active.icon{
        color: #ffe623!important;
    text-shadow: 0 -1px 0 #ddc507,-1px 0 0 #ddc507,0 1px 0 #ddc507,1px 0 0 #ddc507!important;
}

/*
.app.container .content > .column > .segments > .segments > .segment:first-child{
    padding-left: 0 !important;
}

.app.container .content > .column > .segments > .segments > .segment:last-child{
    padding-right: 0 !important;
}

.app.container .content > .column > .segments .top{
    background-color: #F9F9F9 !important;
}
*/






