
/*======= Reset =======*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/

title:first-letter {
    text-transform:capitalize;
}

body {
   
    
}

.container{
    width: 1000px;
    margin: 0 auto;
    height: auto;
}


pre, .hljs{
    background: none !important;
    border: 0;
    border-radius: 0;
    padding: 0 !important;
    margin: 0;
    line-height: 1.7
}

img {
    width: 100%;
}

ol, ul {
    margin-top: 0;
    
}

a {
    text-decoration: none;   
}

.row + h3{
    margin-top: 40px;   
}

i.icon {
    line-height: 1em;
    
}

code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-size: 13px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


/*======= Header =======*/


header {
    z-index: 99;
    width: 100%;
}


header nav {
    width: 100%;
}

header nav {
    display: inline-block;
    height: 34px;
    margin: 40px 0;
}

header nav .logo {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: relative;
    float: left;
    color: #414141;
}

header nav .logo:hover,
header nav .logo a:focus {
    color: #008bd9; 
    text-decoration: none;
}

header nav .logo .icon {
	font-size: 2.3em;
    float: left;
}


header nav ul {
    list-style-type: none;
    float: left;
    margin-left: 42px;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(11,18,29,.4);
    text-shadow: 0 1px 2px rgba(255,255,255,.5);
    line-height: 34px;
    transition: .2s color linear;
    display: inline-block;
}

header nav ul li .heading {
	font-size: 18px;
    font-weight: 600;
    margin: 0 !important;
    letter-spacing: 2px;
	text-transform: uppercase;
    float: left;
    border: none;
    width: 780px;
}


.poweredby{
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

}

.poweredby{
    top: -10px;
    position: relative;
    z-index: 2;
    display: block;   
}

.poweredby a{
    position:absolute;
    margin-top: -7px;
}

.poweredby img{
    width: 25px;   
    
    margin-left: 5px;
}

/*======= Page =======*/

/*
    --  
    Typography 
    --
*/
h1:not(.h1-reset){
    letter-spacing: 1px;
    font-size: 34px;
    font-weight: 300;
    color: #008bd9; 
   
}

h2:not(.h2-reset){
    margin: 40px 0 20px 0;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 300;
}

h3:not(.h3-reset){
    margin: 10px 0 20px 0 !important; 
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

/*.h1, .h2, h1, h2 {
    margin-top: 24px !important;
    margin-bottom: 12px !important;
}*/

h1.head{
    margin-top: 10px !important;   
}

p.small {
    font-size: 14px !important;
    color: #999 !important;
}




/*----- Right Side -----*/

#right-side {
    /*position: absolute;
    top: 0;
    left: 800px;
    width: 200px;*/
    float: left;
    z-index: 2;
    display: block;
}

.sidebar>div {
    padding: 20px 20px 20px 30px;
    background: #FFF;
    border-radius: 3px;
}

.sidebar .title {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(90,97,102,.4);
    margin: 0 0 10px 0;
    padding-left: 10px;
    font-weight: 600;
}

.sidebar ul.category {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar div>ul>li {
    margin-bottom: 4px;
}

.sidebar div>ul>li.title {
     padding: 4px 0 4px 10px;
}

.sidebar ul.category{
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.sidebar ul.category>li>a {
    /*color: rgba(62,72,80,.6);*/
    color: #777;
    border-left: 2px solid transparent;
    padding: 4px 0 4px 10px;
    font-size: 14px;
    font-weight: 400;
    transition: .2s color ease,.2s border-color ease;
}

.sidebar ul.category>li>a:hover,
.sidebar ul.category>li>a:focus,
.sidebar ul.category>li>a.active {
    color: #008bd9;
    text-decoration: none;
}
.sidebar ul.category>li>a.active {
    font-weight: 600;
}

.vertical-divider {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    left: 200px;
    width: auto;
    content: '';
    z-index: 3;
    border-right: 1px solid #ddd;
    width: 0;
    height: calc(100% - 1rem);
}


/*****************************************
    
    Left Side 

******************************************/

#left-side{
    width: 820px;
    padding-left: 76px;
    color: #414141;
    float: left;
    display: block; 
}

/*------------------
    Base 
---------------------*/

.body-content {
    width: 100%;
    height: auto;
}

p.text{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    margin: 20px 0 20px 0;
    color: rgba(0,0,0,.8);
}


/*------------------
    Menu Paths 
---------------------*/

.paths .menu .item{
    font-weight: 700 !important;
    color: #999;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 1.43em !important;
    padding-right: 1.43em !important;
}

.paths .menu .item.active{
    color: #414141 !important;
}

.paths .segment{
    border: none !important;
}

/*------------------
    Group Items 
---------------------*/

.segment > .group-item{
    padding-top: 20px;   
}

.segment > .group-item:first-child{
    padding-top: 0px;   
}

.group-item > .single-item{
    padding-bottom: 0px;  
    height: 100%;
}

/*------------------
    Item
---------------------*/
.single-item > .title-item{
    color:#66b313;  
}

.single-item > .display{
    padding-top: 5px; 
}

.single-item .display .wireframe.image:last-child {
    margin-bottom: 0em;
}

.single-item .display .wireframe.image:first-child {
    margin-top: 0em;
}

.single-item .display .wireframe.image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
    opacity: 0.5;
    margin-left: 0;
}

.body-content h2 .icon{
    font-size: 14px;
    margin-left: 5px;
}

.body-content .title-item a{
    color: #555 !important;
    opacity: 0.5;
}

.body-content .title-item a:hover{
    opacity: 1;
}

.single-item > p.usage{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    margin: 30px 0 0 0;
    color: rgba(0,0,0,.8);  
}

.single-item > p.usage span{
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,.6);   
}


.single-item > .source {
    background: #f6f6f6;
    padding: 15px 30px 15px 0;
    position: relative;
    margin: 10px 0 20px 0;   
}

.display + .source {
    margin-top: 30px !important;
}

.single-item > .source:before {
    height: 100%;
    content: "";
    background: #f6f6f6;
    position: absolute;
    left: 0;
    width:3000px;
    -webkit-transform: translateX(-3000px);
    -moz-transform: translateX(-3000px);
    -ms-transform: translateX(-3000px);
    transform: translateX(-3000px);
    top: 0;   
}

.body-content {
  counter-reset: my-awesome-counter;
}

.group-item h2:not(.h2-reset){
    counter-increment: my-awesome-counter;
}

.group-item h2:not(.h2-reset):before{
    content: counter(my-awesome-counter)"." ;
    position: absolute;
    margin-left: -40px;  
}

h2 + .paragraph{
    padding-top: 20px;
}   

/*.ui + .ui{
    margin-left: 8px;   
}

*/

.ui + .divider,
.divider + .inverted{
    margin-left: 0px !important;   
}


/*****************************************
    
    System

******************************************/

/*------------------
    Layout
---------------------*/

.system-layout .single-item{
    padding-bottom: 30px;   
}

/*------------------
    Color
---------------------*/

.system-color .single-item{
    padding-bottom: 50px;   
}



/*****************************************
    
    Component 

******************************************/

/*------------------
    Breadcrumb
---------------------*/



/*------------------
    Button
---------------------*/














/*
    --  
    Footer 
    --
*/

.footer{
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    bottom: 0;
}


/*
    --  
    Table 
    --
*/
.table-holder {
    width: 100%;
}

.table-holder .grid {
    width: 100%;
    min-width: 660px;
    margin: 30px 0;
}

.table-holder .grid tr:last-child {
    border-bottom: none;
}

.table-holder .grid tr {
    border-bottom: 1px solid #F2F3F3;
}

.table-holder .grid thead tr {
    border-bottom: 2px solid #EBECEC!important;
}

.table-holder .grid th {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

.table-holder .grid td {
    font-weight: 300;
    font-size: 15px;
}

.table-holder .grid .sub-content {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #BDC0C2;
    display: block;
}

.table-holder .grid th, .table-holder .grid td {
    padding: 10px 16px 10px 10px;
}


/*
    --  
    System Grid
    --
*/

.system-grid .grid .column:not(.row):not(.grid):after,
.cols .column:not(.row):not(.grid):after,
.rows .column:not(.row):not(.grid):after{
    content: "";
    display: block;
    min-height: 50px;
    border-radius: 4px;
  
}

.system-grid .grid .column:not(.row):not(.grid):after {
    background-color: #67c8fe;
}

.system-grid .cols .column:not(.row):not(.grid):after {
    background-color: #ff6666;
}


.system-grid .rows .column:not(.row):not(.grid):after {
    background-color: #ffc266;
}

.system-grid .relaxed .column:not(.row):not(.grid):after {
    background-color: #00b300;
}


.bg-grid {
    margin: 15px 0;
}

td.type-info{
    vertical-align: middle !important;
}


/*============= System =============*/

/*
    --  
    System Layout
    --
*/
.system-layout .body-content{
    padding-bottom: 50px;   
}


/*
    --  
    System Color
    --
*/

.system-color .neutral,
.system-color .primarys,
.system-color .secondarys{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.system-color .color-item{
    float:left;
    width: 90px;
    height: 150px;
    display: block;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.color-item + .color-item{
    margin-left: 30px;
}

.system-color .color-item .color-box{
    width: 100%;
    height: 90px;
   
}

.system-color .color-item .color-code{
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.system-color .fill{
    margin: 0 !important ;   
}

.system-color .transform{
    
}

.system-color .transform .fill{
    padding: 10px;   
    margin: 0;
}

.system-grid .fill,
.system-color .fill{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 !important;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
}

.g0 { background-color: #b3e4fe; }
.g1 { background-color: #ffb3b3; }
.g2 { background-color: #ffd699; }
.f0{ background:#67c8fe; }
.f1 { background: #ff6666; }
.f2 { background: #ffc266; }

.f-primary{ background: #008bd9; }
.f-primary-hover { background-color: #009af1}
.f-primary-focus { background-color: #007bc2}

.f-success{ background: #19b37b; }
.f-success-hover { background-color:#1cc98a }
.f-success-focus { background-color:#169d6c }

.f-info{ background: #2badd4; }
.f-info-hover { background-color:#40b5d8 }
.f-info-focus { background-color:#279cbf }

.f-warning{ background: #e5791a; }
.f-warning-hover { background-color: #e88631 }
.f-warning-focus { background-color: #ce6d17}

.f-danger{ background: #e64333; }
.f-danger-hover { background-color:#e95849 }
.f-danger-focus { background-color:#e32e1c }

/* Neutral */
.color-borderline{ background-color: #cccccc; }
.color-midwhite{ background-color: #e8e8e8; }
.color-lightgray{ background-color: #eeeeee; }
.color-gray{ background-color: #767676; }
.color-lightblack{ background-color: #555555; }
.color-black{ background-color: #1B1C1D; }
.color-primary{ background-color: #008bd9; }
.color-primaryhover{ background-color: #009bf2; }
.color-primaryfocus{ background-color: #007bbf; }
.color-secondary{ background-color: #e8e8e8; }
.color-secondaryhover{ background-color: #eeeeee; }
.color-secondaryfocus{ background-color: #cccccc; }
.color-info{ background-color: #2BADD4; }
.color-success{ background-color: #19b37b; }
.color-error{ background-color: #e64333; }
.color-warning{ background-color: #e5791a; }



/*
    --  
    System Typography
    --
*/

.system-typography .transform h1{ 
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #414141;
}

.system-typography .transform h2{ 
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #414141;
}

.system-typography .transform h1, 
.system-typography .transform h2,
.system-typography .transform h3, 
.system-typography .transform h4, 
.system-typography .transform h5, 
.system-typography .transform h6, 
.system-typography .transform p, 
.system-typography .transform .lead, 
.system-typography .transform blockquote{
    margin: 15px 0;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.font-box-helvetica{
    padding: 20px;
    border: 1px solid #ddd;
    width: 90px;
    border-radius: 4px;
   
}

.font-box-arial{
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
    width: 90px;
    border-radius: 4px;
   
}


/*
    --  
    System Icon
    --
*/

.group-icon{
    float: left
}

.group-icon:last-child{
    margin-bottom: 100px;   
}

.demo-icon{
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.system-icon .sub-item h2{
    margin-bottom: 20px;   
}

.system-icon .icons {
    font-size: 14px;
    line-height: 35px;
    width: 180px;
    float: left
}

.system-icon .icons span{
    margin-left: 5px; 
}



/*
    --  
    System Image
    --
*/

.image + .image{
    margin-left: 0;
    margin-top: 15px; 
}

p.present{
    margin: 1em 0;
}



/*============= Component =============*/

/*
    --  
    Button
    --
*/

.component-button .button{
    margin-bottom: 10px; 
    
}

.sub-display h3:first-child{
    margin-top: 0;
     
}

.group-icon .button{
    margin-right: 0;   
}

.component-button .button:first-child,
.component-button .buttons:first-child{
    margin-left: 0px;
}
.component-button .button,
.component-button .buttons{
    margin-left: 5px;
}


/*
    --  
    Input
    --
*/


.component-input .sub-display{
       width: 50%;
}

.sizes .input{
    margin-bottom: 20px;   
}

.sizes .input:last-child{
    margin-bottom: 0px;   
}

.inputs:last-child{
    margin-bottom: 0;   
}

.component-input .forms:last-child{
    margin-bottom: 0;
}

/*
    --  
    Dropdown
    --
*/

.alternate .dropdown{
    float: left;
}
.alternate .dropdown{
    margin-right: 15px;
    
}

/*
    --  
    Select
    --
*/

.component-select .button-group{
    margin-bottom: 15px;
}

/*
    --  
    List
    --
*/

.body-content .list-present li{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    margin: 10px 0 10px 0;
    color: rgba(0,0,0,.8);
}

p.description + .group-item{
    padding: 0;
}

.horizontal.list + .horizontal.list{
    margin-top: 30px;
    margin-bottom: 10px;
}


/*
    --  
    Switch
    --
*/



/*
    --  
    Breadcrumb
    --
*/

.breadcrumb.small,
.breadcrumb{
    margin-bottom: 25px;   
}


/*
    --  
    Pagination
    --
*/

.pagination{
    margin: 0;
}

.horizontal-navigation .demo{
    border: 1px solid #ddd;   
}
.demo .nav-horizontal{
    border-bottom: 0;   
}



