
/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/

body{
    background-color: #333;
}

.ui.container{
    min-width: 1000px;
}

/*-----------------------------
    Form
-------------------------------*/

.column {
    margin-top: 100px; 
}


/*-----------------------------
    Design
-------------------------------*/
.design{
    width: 50%;
    margin: 0 auto;
}
.design p{
    text-align: left;
    color: white;
    margin-bottom: 5px;
}

.design + .design {
    margin-top: 20px !important;
}

.design img{
    width: 100%;
}


@media only screen and (max-width: 767px){
    .ui.container {
        width: auto!important;
        margin-left: 2em!important;
        margin-right: 2em!important;
    }
}

@media only screen and (max-width: 454px){
    .fields > .field{
        padding: 0 !important;
        margin: 0 !important;
    }
    .fields > .field:first-child{
        width:100%;
        margin-bottom: 20px !important;
    }

    .fields > .field:last-child{
        float:right;
        width:96%;
       
    }
    .fields > .field:last-child > .button{
        width:100%;
        margin:0 8px !important;
    }
    
    .column {
        margin-top:50px;
       
    }

}
