
/******************************

    GENERAL SETUP
    
*******************************/
.ui.container{
    z-index: 1;
    
}

body{
    
}

/******************************

    CARDS
    
*******************************/

.mobile.column {
    margin-top: 100px;
    width:100%;
    margin: 0 auto;
}

#form-content{
    width: 380px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 12px;
      
}


/*-----------------------------
    Create New Account Card
-------------------------------*/

#create-new-card {
    left:0;
    text-align: left;
}

/* Header */
#create-new-card .ui.header{
    margin-top:30px;
    margin-bottom: 0;
    color: white; 
    font-size: 20px;
    font-weight: 500 !important;
}

/* Description */
#create-new-card p {
    margin: 5px 0 40px 0;
}


/*-----------------------------
    Sign In Card
-------------------------------*/
#mobile .column{
    
}

#mobile .logo{
    text-align: center;
    margin: 20px auto;
}

#mobile .logo img{
    width: 100px;
}


/* Header */
#mobile .ui.header{
    margin-top:20px;
    margin-bottom: 40px;
    font-weight:500;
    text-align: center
}


/* Description */
#mobile p {
    margin: 40px 0 40px 0;
    text-align: center;
}

/******************************

    CONTENT
    
*******************************/


/*-----------------------------
    Create New Account Content
-------------------------------*/

#create-new{
    display: none;
}

/* Header */
#create-new .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
     font-size: 24px;
   font-weight: 500 !important;
}

/* Buttons */
#create-new .ui.buttons {
    width: 100%;
   
}
#create-new .ui.buttons .button{
    padding:20px;
    
}

#create-new .ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    vertical-align: middle;
}

/*-----------------------------
    Sign In Content
-------------------------------*/

/* Header */
#login .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
    font-size: 24px;
    font-weight: 500 !important;
}

/* Segment */
.ui.segment{
    border: none;
    margin: 0;
    padding: 0;
}


/* Lable Input */
.field > label{
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #999 !important;
    margin-bottom: 4px !important;
    
}

/* Input */
.field .ui.input input{
    /*border-radius: 20px;
    padding:.78571429em 20px !important;
    letter-spacing: 0px;*/
}

.field .ui.input input:focus{
    
}

.ui.checkbox .box:before, .ui.checkbox label:before,
.ui.checkbox .box:after, .ui.checkbox label:after{
    top: -1px;
}

/* Button */


.ui.inverted.button{
    border-width: 1px;
}

#continue{
    margin-top: 30px;
}

/* Forgot Pass */

#login p { 
    padding: 0 8px !important;
    margin-top: 20px;
    text-align: center !important;
}

.show {
  display:block;
}



/******************************

    MOBILE
    
*******************************/


/*-----------------------------
    Sign In Content
-------------------------------*/



