
/*======= Loading =======*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) center no-repeat #fff;
}

/*======= Main Styles =======*/

body{

     background: url(../img/1.jpg)no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.ui.container{
    min-width: 1000px;
}

/*-----------------------------
    Form
-------------------------------*/

.column {
    margin-top: 100px;
    width: 760px !important;
  
}

#form-card {
    width:100%;
    height: 360px;
    
    position: absolute;
    left: 0;
    top:0;
    margin-top: 50px;
    padding: 40px 50px;
    
    z-index: 1;
    background-color: rgba(0, 155, 242, 0.74);
    border-radius: 15px;
    color: white; 
    -webkit-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.23);
box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.23);
}

#form-content{
    width: 380px;
    
    position: absolute;
    right:40px;
    top:0;
    padding: 40px;
    
    
    z-index: 2;
    background-color: white;
    border-radius: 12px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);
    
}


/*-----------------------------
    Create New Account
-------------------------------*/
#create-new-card {
    left:0;
    text-align: left;
    
}
/* Header */
#create-new-card .ui.header{
    margin-top:30px;
    margin-bottom: 0;
    color: white; 
    font-size: 20px;
    font-weight: 500 !important;
    
}

/* Description */
#create-new-card p {
    margin: 5px 0 40px 0;
}

/*-----------------------------
    Sign In Card
-------------------------------*/
#login-card{
    text-align: left;
    float: right;
    display: none;  
     width:40%;
    padding-left: 30px;
}

/* Header */
#login-card .ui.header{
    margin-top:30px;
    margin-bottom: 0;
    color: white; 
    font-size: 20px;
    font-weight:500;
    
}

/* Description */
#login-card  p {
    margin: 5px 0 40px 0;
}


/*-----------------------------
    Create New
-------------------------------*/
#create-new{
    display: none;
}

/* Header */
#create-new .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
     font-size: 24px;
   font-weight: 500 !important;
}

/* Buttons */
#create-new .ui.buttons {
    width: 100%;
   
}
#create-new .ui.buttons .button{
    padding:20px;
    
}

#create-new .ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    vertical-align: middle;
}

/*-----------------------------
    Log In
-------------------------------*/

/* Header */
#login .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
    font-size: 24px;
    font-weight: 500 !important;
}

/* Segment */
.ui.segment{
    border: none;
    margin: 0;
    padding: 0;
}


/* Lable Input */
.field > label{
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #999 !important;
    margin-bottom: 4px !important;
    
}

/* Input */
.field .ui.input input{
    /*border-radius: 20px;
    padding:.78571429em 20px !important;
    letter-spacing: 0px;*/
}

.field .ui.input input:focus{
    
}


/* Checkbox */
.ui.checkbox .box, .ui.checkbox label{
   padding-left: 1.8em;
}

.ui.checkbox .box:before, .ui.checkbox label:before,
.ui.checkbox .box:after, .ui.checkbox label:after{
    top: -1px;
}

/* Button */


.ui.inverted.button{
    border-width: 1px;
}

#continue{
    margin-top: 30px;
}

/* Forgot Pass */

#login p { 
    padding: 0 8px !important;
    margin-top: 20px;
    text-align: center !important;
}

.show {
  display:block;
}




@media only screen and (max-width: 767px){
    .ui.container {
        width: auto!important;
        margin-left: 2em!important;
        margin-right: 2em!important;
    }
}

@media only screen and (max-width: 454px){
    .fields > .field{
        padding: 0 !important;
        margin: 0 !important;
    }
    .fields > .field:first-child{
        width:100%;
        margin-bottom: 20px !important;
    }

    .fields > .field:last-child{
        float:right;
        width:96%;
       
    }
    .fields > .field:last-child > .button{
        width:100%;
        margin:0 8px !important;
    }
    
    .column {
        margin-top:50px;
       
    }

}
