/******************************

    BACKGROUND
    
*******************************/

.background{
    /*background: rgba(65,183,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(65,183,255,1)), color-stop(100%, rgba(0,69,138,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: radial-gradient(ellipse at center, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b7ff', endColorstr='#00458a', GradientType=1 );*/
  background: rgba(65,183,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(65,183,255,1)), color-stop(100%, rgba(0,69,138,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
background: radial-gradient(ellipse at center, rgba(65,183,255,1) 0%, rgba(0,69,138,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b7ff', endColorstr='#00458a', GradientType=1 );
}


.image-background{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/4.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: -1;
    opacity: 1;
}



/*
.bg-blur {
  z-index: -2;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

.bg-blur-overlay {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 100%);

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 1)));


  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 100%);


  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 100%);


  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 100%);


  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 100%);


  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#000000', GradientType=0);
}

*/

.noise{
    position: fixed;
    top:0%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/noise.png');
    
    background-position: top;
    background-repeat: repeat;
    color: #fff;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: -1;
    opacity: 1;
}

.dots{
    z-index: -2;
    min-width: 1000px;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/dots.svg');
    background-size:100%;
    background-position:center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    text-rendering: optimizeLegibility;
    opacity: 1
    
}


.topBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/.svg');
    background-size:100%;
    background-position:top;
    background-repeat: repeat-x;
    opacity: .05;
}

/******************************

    GENERAL SETUP
    
*******************************/


.ui.container{
    z-index: 1;
    
}

body{
    
}

/******************************

    CARDS
    
*******************************/

.fullpage.column {
    margin-top: 100px;
    width: 760px !important;
}

#form-card {
    width:100%;
    height: 360px;
    position: absolute;
    left: 0;
    top:0;
    margin-top: 50px;
    padding: 40px 50px;
    z-index: 1;
    color: white; 
    background: rgba(0,163,255,0.3);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.24);
    border-radius: 13px;
}

#form-content{
    width: 380px;
    position: absolute;
    right:40px;
    top:0;
    padding: 40px;
    z-index: 2;
    background-color: white;
    border-radius: 12px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.23);   
}


/*-----------------------------
    Create New Account Card
-------------------------------*/

#create-new-card {
    left:0;
    text-align: left;
}

/* Header */
#create-new-card .ui.header{
    margin-top:30px;
    margin-bottom: 0;
    color: white; 
    font-size: 20px;
    font-weight: 500 !important;
}

/* Description */
#create-new-card p {
    margin: 5px 0 40px 0;
}


/*-----------------------------
    Sign In Card
-------------------------------*/

#login-card{
    text-align: left;
    float: right;
    display: none;  
     width:40%;
    padding-left: 30px;
}

/* Header */
#login-card .ui.header{
    margin-top:30px;
    margin-bottom: 0;
    color: white; 
    font-size: 20px;
    font-weight:500;
    
}

/* Description */
#login-card  p {
    margin: 5px 0 40px 0;
}

/******************************

    CONTENT
    
*******************************/


/*-----------------------------
    Create New Account Content
-------------------------------*/

#create-new{
    display: none;
}

/* Header */
#create-new .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
     font-size: 24px;
   font-weight: 500 !important;
}

/* Buttons */
#create-new .ui.buttons {
    width: 100%;
   
}
#create-new .ui.buttons .button{
    padding:20px;
    
}

#create-new .ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    vertical-align: middle;
}

/*-----------------------------
    Sign In Content
-------------------------------*/

/* Header */
#login .ui.header{
    margin-bottom:35px;
    padding: 0 8px !important;
    text-align: center !important;
    font-size: 24px;
    font-weight: 500 !important;
}

/* Segment */
.ui.segment{
    border: none;
    margin: 0;
    padding: 0;
}


/* Lable Input */
.field > label{
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #999 !important;
    margin-bottom: 4px !important;
    
}

/* Input */
.field .ui.input input{
    /*border-radius: 20px;
    padding:.78571429em 20px !important;
    letter-spacing: 0px;*/
}

.field .ui.input input:focus{
    
}

.ui.checkbox .box:before, .ui.checkbox label:before,
.ui.checkbox .box:after, .ui.checkbox label:after{
    top: -1px;
}

/* Button */


.ui.inverted.button{
    border-width: 1px;
}

#continue{
    margin-top: 30px;
}

/* Forgot Pass */

#login p { 
    padding: 0 8px !important;
    margin-top: 20px;
    text-align: center !important;
}

.show {
  display:block;
}



/******************************

    MOBILE
    
*******************************/


/*-----------------------------
    Sign In Content
-------------------------------*/



