
/*-----------------------------
    General
-------------------------------*/

body{
    background-color: #f8f8f8;
}

/* Header
------------------------------*/
.header {
    margin-top: 20px;
    text-align: center; 
}

.title{
    text-align: left !important;
}

.section-title{
    text-align: center;
    font-size: 15px !important;
}



/*-----------------------------
    Container
-------------------------------*/

/*
.ui.container{
    min-width: 1000px;
}
*/

.ui.container + .container{
    margin-top: 30px;
}


/*-----------------------------
    Grid
-------------------------------*/

.ui.grid>.row:first-child {
    margin-top: 50px;
    padding-bottom: 0;
}


.standards-title{
    text-align: center;
    width: 100%;
}



/*-----------------------------
    Button
-------------------------------*/
.ui.button{
    border-radius: 20px;
    padding: 12px 20px;
}




@media only screen and (max-width: 767px){
    .ui.container {
        width: auto!important;
        margin-left: 2em!important;
        margin-right: 2em!important;
    }
}

@media only screen and (max-width: 454px){

}
